{% extends "registration/registration_base.html" %}
{% block title %}Activation complete{% endblock %}
{% block content %}
<p>Great, you just activated the account and it is ready... </p> 
<p> You may now <b><a href='{% url auth_login %}'>sign in</a></b> to Mathplosion.  </p>
<p> Use the username and password you chose when you registered. </p>
{% endblock %}


