{% extends "base.html" %}

{% block content %}
<form class="well" method="post" action="{% url django.contrib.auth.views.login %}">

{% csrf_token %}

<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
<td>
<input type="submit" class="btn btn-primary" value="Login" />
<input type="hidden" name="next" value="{{ next }}" />
</td>
<td>
{% comment %}
<a href="{% url registration_register %}">Create an account...</a>|
{% endcomment %}
<a href="{% url auth_password_reset %}">Forgot your password?</a>
</td>
</tr>
</table>
</form>
{% endblock content %}

