{% extends "registration/registration_base.html" %}
{% block title %}Sign In{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<meta http-equiv="REFRESH" content="0;url=/editor/lists">
{% else %}
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password.label_tag }}</td>
    <td>{{ form.password }}</td>
</tr>
<tr>
<td>
<input type="submit" value="Sign In" />
<input type="hidden" name="next" value="{{ next }}" />
</td>
<td>
{% comment %}
<a href="{% url registration_register %}">Create an account...</a>|
{% endcomment %}
<a href="{% url auth_password_reset %}">Forgot your password?</a>
</td>
</tr>
</table>
</form>
<div id="welcome"> 
<p>Welcome to Mathplosion, a website for generating mathematics content. 
<p>Login above or...</p>
</div>
<form method="get" action="{% url views.demovideo %}">
<input type="submit" value="Watch A Demo" style="font-size:20px;width:200px;height:50px;margin-bottom:30px"/>
</form>
</p>
</div>
{% endif %}
{% endblock %}
