{% extends "registration/registration_base.html" %}
{% block title %}Signed out{% endblock %}
{% block content %}
<p> You are logged out now.</p>
<p> Go back <b><a href='{% url auth_login %}'>here</a></b> to sign in again. </p>
{% endblock %}
