{% extends "registration/registration_base.html" %}
{% block title %}Confirm password reset{% endblock %}
{% block content %}
<p>Choose a new password below:</p>
<form method="post" action="">{% csrf_token %}
<table>
    {{ form.as_table }}
    <tr><td></ td><td><input type="submit" value="Set password" /></td></tr>
</table>
</form>
{% endblock %}
