{% extends "registration/registration_base.html" %}
{% block title %}Password reset{% endblock %}
{% block content %}
<p> We have sent you an email with a link to reset your password.</p>
<p>Check your email and click the link to continue</p>
{% endblock %}
