{% extends "registration/registration_base.html" %}
{% block title %}Password reset complete{% endblock %}
{% block content %}
<p>Your password has been reset. </p> 
<p>Proceed now and <b><a href="{{ login_url }}">sign in</a></b> to Mathplosion!</p>
{% endblock %}
