{% extends "registration/registration_base.html" %}
{% block title %}Reset password{% endblock %}
{% block content %}
<p>Forgot your password?</p>
<p>Just enter the email you used when you created the account. </p>
<p>We'll send you instructions for resetting your password. </p>

<form method='post' action=''>{% csrf_token %}
<table>
    {{ form }}
    <tr><td></td><td><input type='submit' value="Reset password" /></td></tr>
</table>
</form>
{% endblock %}
