{% extends "registration/registration_base.html" %}
{% block title %}Register for an account{% endblock %}
{% block content %}
<div class="hero-unit">

<p> Pick a username, fill in a valid email and choose a password.</p>
<p> We'll send a link to your email so you can finish activating the account.</p>
    <form method='post' action=''>{% csrf_token %}
<table>
        {{ form }}
</table>
<h3> Mathplosion Terms of Service </h3>
<div id="tos">
<p>Mathplosion is a beta web application that is currently in early testing stage. The website, software and all content are provided "as is" with no implied guarantee of the usability or availability of it.</p> 

<p>Mathplosion will not be liable for any loss, direct or indirect that results from use of this website, software or content. The user of the website will be solely responsible for any damage that is incurred or any loss of data that happens as a result of using the website.</p>

<p>Please do not store generated content at this site without appropriate backup or off-site replication. We cannot guarantee such content will continue to be available to you after you create it during the beta period.</p>

<p>If you have questions or are looking for help please visit the help forums by using the Mathplosion Q&A button below. </p> 

<p>If you find bugs please report them with the Report A Bug button below. 

<p>You are encouraged to help improve the software and we will do our best fix and resolve all issues.</p>
</div>
    <input type="submit" value="I Read the Terms and I Agree, Sign Me Up" style="font-size:20px;height:50px" />
    </form>
</div>
{% endblock %}
