{% extends "registration/registration_base.html" %}
{% block title %}Activation email sent{% endblock %}
{% block content %}
<p>We just sent email to the email address you provided.  </p>
<p>Check there and click on the link and you can complete creating the account. </p>
{% endblock %}

