<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Area between for sampling distribution of means"-->
<!--tags "area,means,statistics"-->

<script id="params">
var json_params =    
{
  "a":{"type":"float","val":"10"},
  "b":{"type":"float","val":"13"},
  "mu":{"type":"float","val":"11"},
  "sigma":{"type":"float","val":"5"},
  "n":{"type":"int","val":"25"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript" >
function update_params(params) {

    var a = parseFloat(params.a)
    var b = parseFloat(params.b)
    var mu = parseFloat(params.mu)
    var sigma = parseFloat(params.sigma)
    var n = parseInt(params.n)

    var za = round((a-mu)/(sigma/Math.sqrt(n)),2)
    var zb = round((b-mu)/(sigma/Math.sqrt(n)),2)
    var stddev = sigma/Math.sqrt(n)
    var area = round(stdnormalcdf(zb) - stdnormalcdf(za),4)
    var percentarea = Math.round(100 * round(area,2))

    update_spans("a", a)
    update_spans("b", b)
    update_spans("mu", mu)
    update_spans("n", n)
    update_spans("sigma", sigma)
    update_spans("percentarea", percentarea)

    update_class_equations("a_equals", "a=" + a)
    update_class_equations("b_equals", "b=" + b)
    update_class_equations("mu_equals", "\\mu=" + mu)
    update_class_equations("n_equals", "n=" + n)
    update_class_equations("sigma_equals","\\sigma=" + sigma)
    update_class_equations("stddev_equals","\\stddev=" + stddev)

    // The mu parameter has an alignment problem when inline..
    $('.mu_equals').attr('style',"vertical-align: middle") 

   // Render equation for the left z-value
   // z = (a - mu)/(sigma/sqrt(n)) = (23 - 20)/(3/4) = 3/.75 = 4 etc
  update_id_equation("zvalue1", latex_zvalue_means(a,mu,sigma,n))
 

   // Render equation for the right z-value
   // z = (b - mu)/(sigma/sqrt(n)) = (23 - 20)/(3/4) = 3/.75 = 4 etc
   
   update_id_equation("zvalue2", latex_zvalue_means(b,mu,sigma,n))

    // Render equation for area between 
    // area between = left tail upper - left tail lower = .7699 - .2435 = .5231 
    latex = latex_area_between(zb,za)
    update_id_equation("arealookup", latex)


    // Render graph of z-dist area we want 
    var options = {
                    left: za,
                    right: zb,
                    axis_label: "z"
                 };
    update_id_graph("zgraph", new Normal(options)) 

 // Render graph for the xbar-dist area we want
   var stddev = sigma/Math.sqrt(n)
   var options = {     
                    mu: mu,
                    sigma: stddev,
                    left: a,
                    right:b,
                    axis_label: "x%CC%84"  //this is urlencoded xbar
                 };
   update_id_graph("xbargraph", new Normal(options)) 

}
</script>

<div id="question">
<p> For a sampling distribution of sample means, find the chance a sample mean would fall between <span class="a"></span> and <span class="b"></span>, given that the original distribution has a mean of <span class="mu"></span> with a standard deviation of <span class="sigma"></span> and that the sample size is <span class="n"></span>.</p>
</div>

<div id="answer">
    <p>Here we have <img class="a_equals eqn"/> and <img class="b_equals eqn"/>, with <img class="mu_equals eqn"/> and <img class="sigma_equals eqn"/> and <img class="n_equals eqn"/>. </p> 

    <p>Here is a picture of the area we want:</p> 

    <img id="xbargraph" class="chart"/>

    <p>First find the z-values for each of the x&#772;-values <span class="a"></span> and <span class="b"></span>:</p>

    <p> For x&#772;=<span class="a"></span>:</p>

    <!-- z = (x-mu)/sigma = (3-4)/5 = -1/5 = -.20 -->
    <img id="zvalue1" class="eqn"/>

    <p> And x&#772;=<span class="b"></span>:</p>

   <!-- z = (x-mu)/sigma = (10-4)/5 = 6/5 = 1.2 -->
   <img id="zvalue2" class="eqn"/>

    <p>So the area we want in terms of the standard normal distribution is:</p>

    <img id="zgraph" class="chart"/>

       <p>Using the standard normal table we look up the left tail area associated with each of the above z-values. Then to get the area between them we subtract these two values.</p>

    <!-- area between = left tail upper - left tail lower = .3421 - .1245 -->   
    <img id="arealookup" class="eqn"/> 

    <p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
