<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Area between for normal distribution"-->
<!--tags "statistics,normal,area"-->

<script id="params" type="text/javascript">
var json_params =    
{
  "a":{"type":"float","val":"4.5"},
  "b":{"type":"float","val":"6.5"},
  "mu":{"type":"float","val":"5.0"},
  "sigma":{"type":"float","val":"1.5"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var a = parseFloat(params.a)
    var b = parseFloat(params.b)
    var mu = parseFloat(params.mu)
    var sigma = parseFloat(params.sigma)

    var za = round((a-mu)/sigma,2)
    var zb = round((b-mu)/sigma,2)
    var area = round(stdnormalcdf(zb) - stdnormalcdf(za),4)
    var percentarea = Math.round(100 * round(area,2))

    update_spans("a", a)
    update_spans("b", b)
    update_spans("mu", mu)
    update_spans("sigma", sigma)
    update_spans("percentarea", percentarea)

    update_class_equations("aequals", "a=" + a)
    update_class_equations("bequals", "b=" + b)
    update_class_equations("muequals", "\\mu=" + mu)
    update_class_equations("sigmaequals","\\sigma=" + sigma)

    // The mu parameter has an alignment problem when inline..
    $('.muequals').attr('style',"vertical-align: middle") 

    // Render equation for left z-value
    // z = (x-mu)/sigma = (2-3)/5 = -1/5 = -.20
    var latex = latex_zvalue(a,mu,sigma)
    update_id_equation("zavalue", latex)

    // Render equation for right z-value
    // z = (x-mu)/sigma = (9-3)/5 = 6/5 = 1.20 
    latex = latex_zvalue(b,mu,sigma)
    update_id_equation("zbvalue", latex)

    // Render equation for area between 
    // area between = left tail upper - left tail lower = .7699 - .2435 = .5231 
    latex = latex_area_between(zb,za)
    update_id_equation("arealookup", latex)

    // Render graph of z-dist area we want 
    var options = {
                    mu: mu,
                    sigma: sigma,
                    left: a,
                    right: b,
                    axis_label: "x"
                 };
    update_id_graph("xgraph",new Normal(options)) 

    // Render graph of x-dist area we want 
    var options = {
                    left: za,
                    right: zb,
                    axis_label: "z"
                 };
    update_id_graph("zgraph", new Normal(options)) 
}
</script>

<div id="question">
<p> For a normal curve whose mean is <span class="mu" class="equation"></span> with a standard deviation of <span class="sigma" class="equation"></span> find the area underneath the curve with x between <span class="a" class="equation"></span> and <span class="b" class="equation"></span>.</p> 
</div>

<div id="answer">
    <p>We have <img class="aequals" class="equation"/>, <img class="bequals" class="equation"/>, <img class="muequals" class="equation"/> and <img class="sigmaequals" class="equation"/>.  </p>

    <p>Here is a picture of the area we want:</p> 

    <img id="xgraph" class="chart"/>

    <p>First find the z-values for each of the x-values <span class="a"></span> and <span class="b"></span>:</p>

    <p> For x=<span class="a"></span>:</p>

    <!-- z = (x-mu)/sigma = (3-4)/5 = -1/5 = -.20 -->
    <img id="zavalue" class="equation"/>

    <p> And x=<span class="b"></span>:</p>

    <!-- z = (x-mu)/sigma = (10-4)/5 = 6/5 = 1.2 -->
    <img id="zbvalue" class="equation"/> 

    <p>So the area we want in terms of the standard normal curve looks like this:</p>

    <img id="zgraph" class="chart"/>

    <p>Using the standard normal table we look up the left tail area associated with each of the above z-values. Then to get the area between them we subtract these two values.</p>

    <!-- area between = left tail upper - left tail lower = .3421 - .1245 -->   
    <img id="arealookup" class="equation"/> 

    <p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
