<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Area between for standard normal distribution"-->
<!--tags "statistics,area,stdnormal"-->

<script id="params">
var json_params =  
{
  "a":{"type":"float","val":"-1.0"},
  "b":{"type":"float","val":"1.0"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var a = parseFloat(params.a)
    var b = parseFloat(params.b)
    var area = round(stdnormalcdf(b) - stdnormalcdf(a),4)
    var percentarea = Math.round(100 * round(area,2))

    update_spans("a", a)
    update_spans("b", b)
    update_spans("percentarea", percentarea)

    update_class_equations("a_equals", "a=" + a) 
    update_class_equations("b_equals", "b=" + b) 

    // Render equation for the area between 
    // area between = left tail upper - left tail lower = .3400 - .1203 = .2334
    update_id_equation("arealookup",latex_area_between(b,a))

    // Render the z-dist area we want 
    var options = {
                    left: a,
                    right: b,
                    axis_label: "z"
                 };
    update_id_graph("zgraph", new Normal(options)) 
}
</script>

<div id="question">
<p> For a standard normal distribution find the area under the curve and between a=<span class="a"></span> and b=<span class="b"></span>.</p> 
</div>

<div id="answer">
    <p>We have <img class="a_equals eqn"/> and <img class="b_equals eqn"/> </p>

    <p>Here is a picture of the area we want:</p> 

    <img id="zgraph" class="chart"/>

    <p>Using the standard normal table we look up the left tail area associated with each of the above z-values. Then them we subtract these two areas to get the area between.</p>

    <!-- area between = left tail upper - left tail lower = .3400 - .1203 -->
    <img id="arealookup" class="eqn"/> 

    <p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
