<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Solve backwards using left tail area for normal distribution."-->
<!--tags "backwards,normal,statistics"-->

<script id="params">
var json_params =    
{
  "area":{"type":"float","val":".80"},
  "mu":{"type":"float","val":"12"},
  "sigma":{"type":"float","val":"3"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var mu = parseFloat(params.mu)
    var sigma = parseFloat(params.sigma)
    var area = parseFloat(params.area)

    var areapercent = round(100 * round(area,4),2)
    var z = round(normsinv(area), 2)
    var x = round(z*sigma + mu, 2) 

    update_spans("mu", mu)
    update_spans("sigma", sigma)
    update_spans("area", area) 
    update_spans("areapercent", areapercent)
    update_spans("z", z)

    update_class_equations("area_equals","area=" + area)
    update_class_equations("mu_equals","\\mu=" + mu)
    update_class_equations("sigma_equals","\\sigma=" + sigma)

    // x graph
    var options = {
                    mu: mu,
                    sigma: sigma,
                    right: x,
                    axis_label: "x",
                    axis_text: "x=?"
                 };
    update_id_graph("xgraph", new Normal(options))

    // z graph 
    var options = {
                    right: z,
                    axis_label: "z",
                    axis_text: "z=?"
                 };
    update_id_graph("zgraph", new Normal(options))

    // left tail area = .3400
    // z = -1.2
    update_id_equation("backwardsarea", latex_left_tail_backwards_area(area))
    update_id_equation("zvalue", latex_left_tail_backwards_zvalue(area))

    //Put in the z-value and solve backwards for x  
    // z = (x-mu)/sigma
    // -1.2 = (x-2.3)/3.4
    // -1.2(3.4) = (x-2.3)
    //  2.3 - 1.2(3.4) = x
    //  blah blah = x
    update_id_equation("solveforx", latex_left_tail_backwards_xvalue(area, mu, sigma))
}
</script>

<div id="question">
<p> For a normal curve whose mean is <span class="mu"></span> with a standard deviation of <span class="sigma"></span> find the x-value with <span class="areapercent"></span>% of the data to the left of it.</p> 
</div>

<div id="answer">
<p>We have <img class="area_equals eqn"/> and <img class="mu_equals eqn"/> and <img class="sigma_equals eqn"/>. </p>

<p>Below is a picture of the area we want. The shaded area represents <span class="areapercent"></span>% of the data:</p> 

<img id="xgraph" class="chart"/>

<p>We start by actually finding the z-value we need first: </p> 

<img id="zgraph" class="chart"/>

<p>Now we know the shaded region represents <span class="areapercent"></span>%. This is the left tail area:</p>

<img id="backwardsarea" class="eqn"/> 

<p>Now using the standard normal table backwards we look up the z-value associated with the above given area:</p>

<img id="zvalue" class="eqn"/> 

<p> So the z-value we want is <span class="z"></span>. Now using that together with the given mean and standard deviation we solve backwards in the z-value formula for the x-value that we want:</p> 

<img id="solveforx" class="eqn"/> 

<p> This x-value has <span class="areapercent"></span>% of the data to its left.</p> 
</div>
