<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Solve backwards using right tail area for normal distribution"-->
<!--tags "backwards,normal,statistics"-->

<script id="params">
var json_params =    
{
  "area":{"type":"float","val":".30"},
  "mu":{"type":"float","val":"62"},
  "sigma":{"type":"float","val":"15"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var mu = parseFloat(params.mu)
    var sigma = parseFloat(params.sigma)
    var area = parseFloat(params.area)
    var areapercent = round(100 * round(area,4),2)
    var leftarea = 1.0 - area
    var leftareapercent = 100 - areapercent 
    var z = round(normsinv(leftarea), 2)
    var x = round(z*sigma + mu, 2) 
    
    update_spans("mu", mu)
    update_spans("sigma", sigma)
    update_spans("area", area) 
    update_spans("areapercent", areapercent)
    update_spans("leftarea", leftarea)
    update_spans("leftareapercent", leftareapercent)
    update_spans("z", z)

    update_class_equations("area_equals","area=" + area)
    update_class_equations("mu_equals","\\mu=" + mu)
    update_class_equations("sigma_equals","\\sigma=" + sigma)

    // Render the x graph
    var options = {
                    mu: mu,
                    sigma: sigma,
                    left: x,
                    axis_label: "x",
                    axis_text: "x=?"
                 };
    update_id_graph("xgraph", new Normal(options))

    // Render the z graph 
    var options = {
                    left: z,
                    axis_label: "z",
                    axis_text: "z=?"
                 };
    update_id_graph("zgraph", new Normal(options))

    //Render equation for the backwards area
    update_id_equation("backwardsarea", latex_left_tail_backwards_area(leftarea))

    //Equation that gives the z-value for the previous equation  
    update_id_equation("zvalue", latex_left_tail_backwards_zvalue(leftarea))

    //Put in the z-value and solve backwards for x  
    // z = (x-mu)/sigma
    // .52 = (x-62)/15
    // .52(15) = (x-62) 
    //  62 - .52(15) = x
    //  blah blah = x
    update_id_equation("solveforx", latex_left_tail_backwards_xvalue(leftarea, mu, sigma))
}
</script>

<h2>Question:</h2>
<div id="question">
<p> For a normal curve whose mean is <span class="mu"></span> with a standard deviation of <span class="sigma"></span> find the x-value with <span class="areapercent"></span>% of the data to the right of it.</p> 
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="area_equals eqn"/> and <img class="mu_equals eqn"/> and <img class="sigma_equals eqn"/>. </p> 

<p>Below is a picture of the area we want. The shaded area represents <span class="areapercent"></span>% of the data:</p> 

<img id="xgraph" class="chart" alt=""/>

<p>Since we know the area to the right, and because we know the whole area is 100%,  we also know the area to the left must be <span class="leftareapercent"></span>%.</p>

<p>We start by actually finding the z-value we need first: </p> 

<img id="zgraph" class="chart" alt=""/>

<p>Now we know the shaded region represents <span class="areapercent"></span>%. So that means the left tail area is <span class="leftareapercent"></span>%:</p>

<img id="backwardsarea" class="eqn"/> 

<p>Now using the standard normal table backwards we look up the z-value associated with the left tail area:</p>

<img id="zvalue" class="eqn"/>

<p> So the z-value we want is <span class="z"></span>. Now using that together with the given mean and standard deviation we solve backwards in the z-score formula for the x-value that we want:</p> 

<img id="solveforx" class="eqn"/> 

<p> This x-value has <span class="areapercent"></span>% of the data to its right.</p> 
</div>
