<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Solve backwards using right tail area for standard normal distribution"-->
<!--tags "backwards,statistics,stdnormal"-->

<script id="params">
var json_params =    
{
    "area":{"type":"float","val":".80"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var area = parseFloat(params.area)
    var areapercent = round(100 * round(area,4),2)
    var z = round(normsinv(1.0-area),2)

    update_spans("area", area)
    update_spans("areapercent", areapercent)
    update_spans("z", z)

    update_class_equations("area_equals", "area=" + area)

    // Render equation that subtracts the right tail from 1.0 
    // left tail area = 1.0 - right tail area = 1.0 - .25 = .75
    var latex = latex_one_minus_right_tail_area(area)
    update_id_equation("oneminusarea", latex)

    // Render equation that shows what area we want 
    // left tail area = .7500
    latex = latex_left_tail_backwards_area(1.0-area)
    update_id_equation("backwardsarea", latex)

    // Render equation for the desired z-value  
    // z = 1.23
    latex = latex_left_tail_backwards_zvalue(1.0-area)
    update_id_equation("zvalue", latex)

    // Render graph of z-distribution right tail
    var options = {
                    left: z,
                    axis_label: "z",
                    axis_text: "z=?"
                 };
    update_id_graph("righttailgraph", new Normal(options))

    // Render graph of z-distribution left tail
    options = {
                right: z,
                axis_label: "z",
                axis_text: "z=?"
             };
    update_id_graph("lefttailgraph", new Normal(options))
}
</script>

<h2>Question:</h2>
<div id="question">
<p> For a standard normal curve find the z-value with <span class="areapercent"></span>% of the data to the right of it.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="area_equals eqn"/>.</p>

<p>Here is a picture of the area we want:</p> 

<img id="righttailgraph" class="chart"/>

<p>Since our table is a left tail table and we are given the area of a right tail, we change to a left tail by subtracting the area we want from 1.0: </p>

<img id="oneminusarea" class="eqn">

<p> Now the area that we would like looks like this: </p>

<img id="lefttailgraph" class="chart"/>

<p> So the left tail area is: </p>

<img id="backwardsarea" class="eqn"/> 

<p> Then using the standard normal table backwards we look up the z-value associated with the left tail area given above:</p>

<img id="zvalue" class="eqn"/>

<p> So the z-value we want is <span class="z"></span>.</p>
</div>
