<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Solve backwards using left tail area for standard normal distribution"-->
<!--tags "backwards,statistics,stdnormal"-->

<script id="params">
var json_params =    
{
    "area":{"type":"float","val":".80"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var area = parseFloat(params.area)
    var areapercent = round(100 * round(area,4),2)
    var z = round(normsinv(area),2)

    update_spans("area", area)
    update_spans("areapercent", areapercent)
    update_spans("z", z)

   update_class_equations("areaequals","area=" + area)

   // Render equation for backwards area
   // left tail area = .3400
   update_id_equation("backwardsarea",latex_left_tail_backwards_area(area))

   // Render equation for the z-value 
   // z = -1.2
   update_id_equation("zvalue",latex_left_tail_backwards_zvalue(area))

   // Render graph showing the area and z-value we want 
   var options = {
                    right: z,
                    axis_label: "z",
                    axis_text: "z=?"
                 };

   update_id_graph("zgraph",new Normal(options))
}
</script>

<h2>Question:</h2>
<div id="question">
  <p> For a standard normal curve find the z-value with <span class="areapercent"></span>% of the data to the left of it.</p>

</div>

<h2>Answer:</h2>
<div id="answer">
  <p>We have <img class="areaequals" class="equation"/>. </p>

  <p>Here is a picture of the area we want:</p> 

  <img id="zgraph" class="chart"/>

  <p>Using the standard normal table backwards we look up the z-value associated with the above given area:</p>

  <img id="backwardsarea" class="equation"/>

  <p> So for the z-value we get: </p>

  <img id="zvalue" class="equation"/>

  <p> So the z-value we want is <span class="z"></span>.</p>
</div>
