<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Solve backwards using middle area for standard normal distribution"-->
<!--tags: "backwards,statistics,stdnormal"-->

<script id="params">
var json_params =    
{ 
  "area":{"type":"float","val":".50"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var area = parseFloat(params.area)
    var percentarea = Math.round(100 * round(area,2))
    var leftarea = .5 - area / 2 

    update_spans("area", area)
    update_spans("percentarea", percentarea)

    update_class_equations("area_equals", "area=" + area) 

   // Render equation for backwards area
   // left tail area = .3400
   update_id_equation("backwardsleftarea",latex_left_tail_backwards_area(leftarea))

   // Render equation for the z-value 
   // z = -1.2
   update_id_equation("zvalue",latex_left_tail_backwards_zvalue(leftarea))


   // Render equation for backwards area
   update_id_equation("backwardsrightarea",latex_left_tail_backwards_area(area))

   // Render equation for the z-value 
   // z = -1.2
   update_id_equation("zvalue",latex_left_tail_backwards_zvalue(area))


    // Render the z-dist area we want 
    var options = {
                    left: ?,
                    right: ?,
                    axis_label: "z"
                 };
    update_id_graph("zgraph", new Normal(options)) 
}
</script>

<h2>Question:</h2>
<div id="question">
<p> Find the z values associate with the middle percent. </p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="area_equals eqn"/></p>

<p>Here is a picture of the area we want:</p> 

<img id="zgraph" class="chart"/>

<p>We want the two z-values at the ends of our area interval. When we look up our z values on the chart, we need to remember we are looking from the left. This means we need to think of the middle 68% in terms of percentages we will need from the chart.</p>

<p>Using the standard normal table backwards we look up the z-value associated with the above given area:</p>

<img id="backwardsleftarea" class="eqn"/>

<p> So for the z-value we have: </p>

<img id="zvalue" class="eqn"/> 

<p> We have this: </p>

<img id="backwardsrightarea" class="eqn"/>

<p> So for the z-value we have: </p>

<img id="zvalue" class="eqn"/> 
</div>
