<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Basic operations problem"-->
<!--tags "demo"-->

<script id="params">
var json_params =    
{
    "x":{"type":"int","val":"3"},
    "y":{"type":"int","val":"4"},
    "z":{"type":"int","val":"2"}
}
</script>

<script id="javascript">
function update_params(params) {

  var xstring = params.x
  var ystring = params.y
  var zstring = params.z

  var x = parseInt(xstring)
  var y = parseInt(ystring)
  var z = parseInt(zstring)

  var sum = x + y
  var product = 2 * z
  var result = sum - product

  update_spans("x", x)
  update_spans("y", y)
  update_spans("z", z)

  update_class_equations("x_equals" , "x = " + x)
  update_class_equations("y_equals" , "y = " + y)
  update_class_equations("z_equals" , "z = " + z)

  var latex = "x + y - 2z = " + x + " + " + y + " - (2)" + z + " = " + result
  update_id_equation("result", latex)
}
</script>

<h2>Question:</h2>
<div id="question">
<p>Find the result of 2 times z= <span class="z"></span> subtracted from x= <span class="x"></span> added to y= <span class="y"></span></p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p> We have <img class="x_equals eqn"/>, <img class="y_equals eqn"/>, and <img class="z_equals eqn"/> </p> 
<p><img id="result" class="eqn"/> </p>
</div>
