<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Binomial basics"-->
<!--tags "binomial,statistics"-->

<script id="params">
var json_params =    
{
  "n":{"type":"int","val":"50"},
  "p":{"type":"float","val":"0.4"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var n = parseInt(params.n)
    var p = parseFloat(params.p)

    var mu = n*p
    var nq = n*(1-p) 
    var sigma = Math.sqrt(mu*(1-p))

   update_spans("n", n)
   update_spans("p", p) 
   update_spans("mu", mu)
   update_spans("nq", nq)
   update_spans("sigma", sigma)

   // calculate mu
   var latex = "\\mu={n}{p}"
   update_id_equation("muformula", latex)
   latex = "\\mu=" + "(" + n + ")" + "(" + p + ")"
   update_id_equation("muValuePart1", latex)
   latex = "\\mu=" + mu
   update_id_equation("muValuePart2", latex)

   // calculate nq
   latex = "{n}{q}=(" + n + ")" + "(1 - " + p + ")"
   update_id_equation("nqformula", latex)
   latex = "{n}{q}=(" + n + ")" + "(" + (1-p) + ")"
   update_id_equation("nqValuePart1", latex)
   latex = "{n}{q}=" + nq
   update_id_equation("nqValuePart2", latex)

   // calculate sigma
   latex = "\\sigma=\\sqrt{np(1-p)}"
   update_id_equation("sigmaformula", latex)
   latex = "\\sigma=\\sqrt{" + "(" + n + ")" + "(" + p + ")" + "(1 - " + p + ")" + "}"
   update_id_equation("sigmaValuePart1", latex)
   latex = "\\sigma=\\sqrt{" + "(" + n + ")" + "(" + p + ")" + "(" + (1-p) + ")" + "}" 
   update_id_equation("sigmaValuePart2", latex)
   latex = "\\sigma=\\sqrt{" + (n * p * (1-p)) + "}" 
   update_id_equation("sigmaValuePart3", latex)
   latex = "\\sigma=" + sigma
   update_id_equation("sigmaValuePart4", latex)
}
</script>

<h2>Question:</h2>
<div id="question">
<p> For a probability of <span class="p"></span> and n = <span class="n"></span>, what is the expected value? what is nq? what is the standard deviation?  </p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>First find the expected value and see if we can use the normal distribution if we have n =  <span class="n"></span> and a probability of <span class="p"></span>:</p>

    <!-- mu = np --> 
    <img id="muformula" class="eqn"/>
    <p><img id="muValuePart1" class="eqn"/> </p>
    <p><img id="muValuePart2" class="eqn"/> </p>

<p>And we have:</p>
    <img id="nqformula" class="eqn"/>
    <p><img id="nqValuePart1" class="eqn"/> </p>
    <p><img id="nqValuePart2" class="eqn"/> </p>

<p>We find the standard deviation:</p> 

    <img id="sigmaformula" class="eqn"/>
    <p><img id="sigmaValuePart1" class="eqn"/>  </p>
    <p><img id="sigmaValuePart2" class="eqn"/>  </p>
    <p><img id="sigmaValuePart3" class="eqn"/>  </p>
    <p><img id="sigmaValuePart4" class="eqn"/>  </p>
</div>
