<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Confidence interval for sample proportion"-->
<!--tags "confidence,proportions,statistics"-->

<script id="params">
var json_params =    
{
  "count":{"type":"int","val":"100"},
  "n":{"type":"int","val":"250"},
  "confidence":{"type":"float","val":"95"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var count = parseInt(params.count)
    var n = parseInt(params.n)
    var confidence = parseFloat(params.confidence)
    var phat = round((count/n),3) 
    var lefttailarea = .5*(1.0+(confidence/100.0)) 
    var zstar = round(normsinv(lefttailarea),3)
    var E = zstar*Math.sqrt(((1-phat)*phat)/n)

   update_spans("count", count)
   update_spans("n", n)
   update_spans("confidence", confidence)

   update_class_equations("count_equals","count=" + count)
   update_class_equations("n_equals","n=" + n)
   update_class_equations("confidence_equals","confidence=" + confidence)
   update_class_equations("phat_equals", "\\hat p=" + phat)

   // phat =   
   var latex = "\\hat p=\\frac{count}{n}=\\frac{" + count + "}{" + n + "}=" + phat 
   update_id_equation("phatformula", latex)

   // E = (z*) sqrt ((1-phat)*phat/n)  
   var latex = "E=(z^*)\\sqrt{\\frac{(1-\\hat p)\\hat p}{n}}"  
   update_id_equation("Eformula", latex)

   latex = "E=" + "(" + zstar + ")" + "\\sqrt{\\frac{(1-" + phat + ")" + phat + "}{"+ n + "}}"
   latex += "=" + "(" + zstar + ")" + "\\sqrt{\\frac{("+ round((1-phat),4) +")" + round(phat,4) + "}{"+ n + "}}"
   latex += "=" + "(" + zstar + ")" + "\\sqrt{\\frac{" + round((1-phat)*phat,4) + "}{"+ n + "}}"
   update_id_equation("EvaluePart1", latex)

   latex = "=" + "(" + zstar + ")" + "\\sqrt{" + round(((1-phat)*phat)/n,8) + "}"
   latex += "=" + "(" + zstar + ")" + round(Math.sqrt(((1-phat)*phat)/n),4)
   latex += "=" +  round(E,4)
   update_id_equation("EvaluePart2", latex)

   latex = "(\\hat p - E, \\hat p + E)"
   update_id_equation("intervalformula", latex)

   latex = "\\hat p - E = " + phat + " - " + round(E,4) +  " = " + round(phat-E,4)
   update_id_equation("leftintervalvalue", latex)

   latex = "\\hat p + E = " + phat + " + " + round(E,4) +  " = " + round(phat+E,4)
   update_id_equation("rightintervalvalue", latex)

   latex = "(" + round(phat-E, 4) + "," +  round(phat+E, 4) + ")"
   update_id_equation("intervalvalues", latex)
}
</script>

<h2>Question:</h2>
<div id="question">
<p> Suppose a sample proportion consists of <span class="count"></span> out of <span class="n"></span>. Find a <span class="confidence"></span>% confidence interval for the population proportion. </p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>First we find the sample proportion:</p> 

<img id="phatformula" class="eqn"/>

<p>Then we will use the formula for E</p>

<img id="Eformula" class="eqn"/>

<p>Putting everything in we get:</p>

<img id="EvaluePart1" class="eqn" style="margin-bottom:5px;"/>
<img id="EvaluePart2" class="eqn" style="display:block;"/>

<p> So the confidence interval will be this:</p> 

<img id="intervalformula" class="eqn"/>

<p> Next we put in the value of E and the sample proportion we found above.</p> 

<p> First for the left endpoint of the interval we get: </p>
<img id="leftintervalvalue" class="eqn"/>

<p> Then for the right endpoint of the interval we get: </p>
img id="rightintervalvalue" class="eqn"/>

<p> And so the confidence interval is: </p>
<img id="intervalvalues" class="eqn"/>
</div>
