<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Confidence interval for sample mean"-->
<!--tags "confidence,means,statistics"-->

<script id="params">
var json_params =    
{
  "sigma":{"type":"float","val":"5"},
  "confidence":{"type":"float","val":"95"},
  "n":{"type":"int","val":"200"},
  "xbar":{"type":"float","val":"22"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var sigma = parseFloat(params.sigma)
    var n = parseInt(params.n)
    var confidence = parseFloat(params.confidence)
    var xbar = parseFloat(params.xbar)

    var lefttailarea = .5*(1.0+(confidence/100.0)) 
    var zstar = round(normsinv(lefttailarea),3)
    var E = zstar*sigma/Math.sqrt(n)

   update_spans("sigma", sigma)
   update_spans("confidence", confidence)
   update_spans("n", n)
   update_spans("xbar", xbar)

   update_class_equations("sigma_equals", "sigma=" + sigma)
   update_class_equations("confidence_equals","confidence=" + confidence)
   update_class_equations("n_equals","n=" + n)

   // E = (z*)*s/Math.sqrt(/n) 
   var latex = "E=(z^*)\\frac{\\sigma}{\\sqrt{n}}"
   update_id_equation("Eformula", latex)

   // solve for E
   latex = "E=" + "(" + zstar + ")" + "\\frac{" + sigma + "}" + "{" + "\\sqrt{"+ n + "}}"
   latex += "=" + "(" + zstar + ")" + "\\frac{" + sigma + "}" + "{" + round(Math.sqrt(n), 4) +"}"
   latex += "=" + "(" + zstar + ")" + round(sigma/round(Math.sqrt(n), 4), 4)
   latex += "=" + round(E, 2)
   update_id_equation("Evalue", latex)

   latex = "(\\bar{x} - E, \\bar{x} + E)"
   update_id_equation("intervalformula", latex)

   latex = "(" + xbar + "-" + round(E,2) + "," + xbar + "+" + round(E,2) + ")"
   update_id_equation("intervalvalues1", latex)
   latex = "(" + (xbar-round(E,2)) + "," +  (xbar+round(E,2)) + ")"
   update_id_equation("intervalvalues2", latex)
}
</script>

<h2>Question:</h2>
<div id="question">
<p> For an x&#772; of <span class="xbar"></span> and standard deviation of <span class="sigma"></span>, find a confidence interval with level of confidence <span class="confidence"></span>%. Use a sample size of <span class="n"></span>. </p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We use the formula:</p> 

<img id="Eformula" class="eqn"/>

<p>And for E we get:</p> 

<img id="Evalue" class="eqn"/>

<p>when we round to 2 decimal places</p>

<p> The endpoints for the confidence interval are:</p> 

<img id="intervalformula" class="eqn"/>

<p> Which gives us this:</p> 

<img id="intervalvalues1" class="eqn"/>

<p> And so we have this:</p> 

<img id="intervalvalues2" class="eqn"/>
</div>
