<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Hypothesis test for sample proportions - left tail"-->
<!--tags "statistics,proportions,hypothesis"-->

<script id="params">
var json_params =    
{
  "theta":{"type":"float","val":".45"},
  "count":{"type":"int","val":"20"},
  "n":{"type":"int","val":"25"},
  "alpha":{"type":"float","val":".05"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var theta = parseFloat(params.theta)
    var count = parseInt(params.count)
    var n = parseInt(params.n)
    var alpha = parseFloat(params.alpha)

    //computed values
    var phat = round((count/n),3) 
    var percentalpha = Math.round(100 * round(alpha,2))
    var stdev = Math.sqrt(((1-theta)*theta)/n)
    var z = (phat-theta)/stdev
    var area = stdnormalcdf(z)
    var pvalue = round(area,3)

    update_spans("theta", theta)
    update_spans("n", n)
    update_spans("count", count)
    update_spans("alpha", alpha)
    update_spans("pvalue", pvalue)
    update_spans("percentalpha", percentalpha)
    update_spans("z", round(z,2))

   update_class_equations("thetaequals","\\theta=" + theta)
   update_class_equations("nequals","n=" + n)
   update_class_equations("countequals","count=" + n)
   update_class_equations("alphaequals","\\alpha=" + alpha)

   //Render the null and alternative hypotheses
   latex = "H_0\\text{ : }\\theta = " + theta
   latex += "\\\\" 
   latex += "H_a\\text{ : }\\theta < " + theta

   update_id_equation("hypotheses", latex)

   //Compute the sample proportion.
   var latex = "\\hat p=\\frac{count}{n}=\\frac{" + count + "}{" + n + "}=" + phat 
   update_id_equation("phatformula", latex)

   // Render equation for stdev 
   latex = "\\text{std dev}=\\sqrt{\\frac{(1-\\theta)\\theta}{n}}"
   latex += "=" + "\\sqrt{\\frac{(1-" + round(theta,4) + ")" + round(theta,4) + "}{" + n + "}}"
   latex += "=" + "\\sqrt{\\frac{(" + round(1-theta,4) + ")"+ round(theta, 4) + "}{" + n + "}}"
   latex += "=" + "\\sqrt{\\frac{" + round((1-theta)*theta,4) + "}{" + n + "}}"
   latex += "=" + "\\sqrt{" + round((1-theta)*theta/n, 6) + "}"
   latex += "=" + round(stdev,4)
   update_id_equation("stdev", latex)

   // Render equation for the test statistic zvalue 
   latex = "z=\\frac{\\hat p - \\theta}{\\text{std dev}}"
   latex += "=" + "\\frac{" + round(phat,4) + "-" + round(theta,4) + "}{" + round(stdev,4) + "}" 
   latex += "=" + "\\frac{" + round(phat-theta,4) + "}{" + round(stdev,4) + "}" 
   latex += "=" + round(z,2)

   update_id_equation("zvalue", latex)

   latex = "\\theta < " + theta 
   update_id_equation("alternativehypothesis", latex)

   latex = "\\theta = " + theta 
   update_id_equation("nullhypothesis", latex)

   // Render equation for the area 
   latex = latex_left_tail_area(z)
   update_id_equation("area", latex)

   // Render graph for the proposed theta 
   var options = {     
                    mu: theta,
                    sigma: stdev,
                    fill_color: "FFFFFF",
                    axis_label: "p%CC%82" //urlencoded p hat
                 };
   update_id_graph("phatgraph", new Normal(options)) 

   // Render graph for the z-dist area we want
   var options = {     
                  right: round(z,2), 
                  axis_label: "z" 
                 };

   update_id_graph("zgraph", new Normal(options)) 

   if(pvalue < alpha) {
     update_show_div_id("reject")
     update_hide_div_id("accept")
   }
   else {
     update_show_div_id("accept")
     update_hide_div_id("reject")
   }
}
</script>

<h2>Question:</h2>
<div id="question">
<p> Suppose a sample proportion consists of <span class="count"></span> out of <span class="n"></span>. Is this enough evidence to conclude that the population proportion is less than <span class="theta"></span> using a level of significance of <span class="percentalpha"></span>%?</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p> The proposed population proportion is <img class="thetaequals equation"/>. The sample proportion is <img class="countequals equation"/> out of <img class="nequals equation"/>. </p>

<p>Writing the hypotheses using the proposed population proportion and the type of alternative hypothesis we need to test with gives us this: </p>

<img id="hypotheses" class="equation"/>

<p>If the null hypothesis is true, then the sampling distribution of sample proportions would look like this:</p> 

<img id="phatgraph" class="chart"/>

<p>We find the standard deviation using the proposed population proportion:</p> 

<img id="stdev" class="chart"/>

<p>Then we find the sample proportion:</p>
<img id="phatformula" class="equation"/>

<p>Next we use the sample proportion to calculate a z-value for our test statistic: </p>

<img id="zvalue" class="equation"/>

<p>Now here is a picture of the standard normal distribution area we need:</p>

<img id="zgraph" class="chart"/>

<p>We use the standard normal table to look up the area for the z-value of <span class="z"></span> we found above :</p>

<img id="area" class="equation"/>

<p>This means our p-value is <span class="pvalue"></span>.</p>

<div id="reject">
<p>Now since the p-value <span class="pvalue"></span> is less than alpha <span class="alpha"></span> we <b>reject the null hypothesis</b> and say the <b>result is significant</b> at the <span class="percentalpha"></span>% level. This means that this is enough evidence for us to reject the claim that <img id="nullhypothesis" class="equation"/></p>
</div>

<div id="accept">
<p>Now since the p-value <span class="pvalue"></span> is not less than alpha <span class="alpha"></span> we <b>cannot reject the null hypothesis</b> and say <b>result is not significant</b> at the <span class="percentalpha"></span>% level.</p>
</div>
</div>
