<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Hypothesis test for sample means - left tail"-->
<!--tags "statistics,means,hypothesis"-->

<script id="params">
var json_params =    
{
  "mu":{"type":"float","val":"41"},
  "xbar":{"type":"float","val":"39"},
  "n":{"type":"int","val":"50"},
  "alpha":{"type":"float","val":".05"},
  "sigma":{"type":"float","val":"10"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var mu = parseFloat(params.mu)
    var xbar = parseFloat(params.xbar)
    var alpha = parseFloat(params.alpha)
    var n = parseInt(params.n)
    var sigma = parseFloat(params.sigma)

    //computed values
    var percentalpha = Math.round(100 * round(alpha,2))
    var stdev = sigma/Math.sqrt(n)
    var z = (xbar-mu)/stdev
    var area = stdnormalcdf(z)
    var pvalue = round(area,3)

    update_spans("mu", mu)
    update_spans("xbar", xbar)
    update_spans("sigma", sigma)
    update_spans("n", n)
    update_spans("alpha", alpha)
    update_spans("pvalue", pvalue)
    update_spans("percentalpha", percentalpha)
    update_spans("z", round(z,2))

   update_class_equations("muequals","\\mu=" + mu)
   update_class_equations("sigmaequals","\\sigma=" + sigma)
   update_class_equations("xbarequals","\\bar x =" + xbar)
   update_class_equations("nequals","n=" + n)
   update_class_equations("alphaequals","\\alpha=" + alpha)

   var latex = ""

   //Render the null and alternative hypotheses
   latex = "H_0\\text{ : }\\mu = " + mu
   latex += "\\\\" 
   latex += "H_a\\text{ : }\\mu < " + mu
   update_id_equation("hypotheses", latex)

   // Render equation for the test statistic zvalue 
   // z = (xbar - mu)/(sigma/sqrt(n)) = (23 - 20)/(3/4) = 3/.75 = 4 etc
   update_id_equation("zvalue", latex_zvalue_means(xbar,mu,sigma,n))

   latex = "\\mu < " + mu 
   update_id_equation("alternativehypothesis", latex)

   latex = "\\mu = " + mu 
   update_id_equation("nullhypothesis", latex)

   // Render equation for the area 
   latex = latex_left_tail_area(z)
   update_id_equation("area", latex)

   // Render graph for the proposed mu 
   var options = {     
                    mu: mu,
                    sigma: stdev,
                    fill_color: "FFFFFF",
                    axis_label: "xbar" //urlencoded p hat
                 };
   update_id_graph("xbargraph", new Normal(options)) 

   // Render graph for the z-dist area we want
   var options = {     
                  right: round(z,2), 
                  axis_label: "z" 
                 };

   update_id_graph("zgraph", new Normal(options)) 

   if(pvalue < alpha) {
     update_show_div_id("reject")
     update_hide_div_id("accept")
   }
   else {
     update_show_div_id("accept")
     update_hide_div_id("reject")
   }
}
</script>

<h2>Question:</h2>
<div id="question">
<p> Suppose a sample mean x&#772; is <span class="xbar"></span>. Is this enough evidence to conclude that the population mean is less than <span class="mu"></span> using a level of significance of <span class="percentalpha"></span>%? Suppose the sample size is <span class="n"></span> and the population standard deviation is known to be <span class="sigma"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p> The proposed population mean is <img class="muequals eqn"/>. The sample mean is <img class="xbarequals eqn"/>, the sample size is <img class="nequals eqn"/> and the population standard deviation is <img class="sigmaequals eqn"/>. </p>

<p>Writing the hypotheses using the proposed population mean since this is a left tailed test we have: </p>

<img id="hypotheses" class="eqn"/>

<p>If the null hypothesis were true, then the sampling distribution of sample means would look like this:</p> 

<img id="xbargraph" class="chart"/>

<p>Next we use the sample mean to calculate the z-value of our test statistic: </p>

<img id="zvalue" class="eqn"/>

<p>Now here is a picture of the standard normal distribution area we need:</p>

<img id="zgraph" class="chart"/>

<p>We use the standard normal table to look up the area for the z-value of <span class="z"></span> we found above :</p>

<img id="area" class="eqn"/>

<p>This means our p-value is <span class="pvalue"></span>.</p>

<div id="reject">
<p>Now since the p-value <span class="pvalue"></span> is less than alpha <span class="alpha"></span> we <b>reject the null hypothesis</b> and say the <b>result is significant</b> at the <span class="percentalpha"></span>% level. This means that this is enough evidence for us to reject the claim that <img id="nullhypothesis" class="eqn"/></p>
</div>

<div id="accept">
<p>Now since the p-value <span class="pvalue"></span> is not less than alpha <span class="alpha"></span> we <b>cannot reject the null hypothesis</b> and say <b>result is not significant</b> at the <span class="percentalpha"></span>% level.</p>
</div>
</div>
