<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Left tail area under standard normal distribution"--> 
<!--tags "statistics,stdnormal"-->

<script id="params">
var json_params =    
{
    "z":{"type":"float","val":"-1.23"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var z = parseFloat(params.z)
    var area = round(stdnormalcdf(z),4)
    var percentarea = Math.round(100 * round(area,2))

    //update_spans("z", z)
    update_spans("percentarea", percentarea)

    update_class_equations("z_equals","z=" + z)

    // Render equation that gives the left tail area 
    // left tail area = .3424
    update_id_equation("arealookup",latex_left_tail_area(z))

    // Render graph of left tail area 
    var options = {
                    right: z,
                    axis_label: "z"
                 };

    update_id_graph("zgraph", new Normal(options))
}
</script>

<div id=paramsfields>
z <span data-var="z" data-format="%f" class="jQTKNumberField"></span>.
</div> 

<h2>Question:</h2>
<div id="question">
<p> For a standard normal curve find the area beneath the curve with z less than <span data-var="z" data-format="%f" class="jQTKAdjustableNumber"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="z_equals eqn"/>.</p>

<p>Here is a picture of the area we want:</p>
    <img id="zgraph" class="chart"/>

<p> Using the standard normal table we look up the area associated with the above z-value:</p>
    <!-- left tail area = .3424 --> 
    <img id="arealookup" class="eqn"/> 
<p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
