<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Retail Price from Cost, and Markup%"-->
<!--tags "retailmath,calvin"-->

<script id="params">
var json_params =    
{
  "c":{"type":"float","val":"23.45"},
  "mp":{"type":"float","val":"15"}
}
</script>

<script id="javascript">
function update_params(params) {

  var c = parseFloat(params.c)
  var mp = parseFloat(params.mp)

  /*
     What do we know. We know c, mp, and we want s
     cost   33  cp       
     markup     15 
     retail s   100 

     cp = 100-mp = 100 - 15 = 85 

     So now we have:

     cost   33  85      
     markup     15 
     retail s   100 

     Now we can see that 
     s/33 = 100/85 

     or 

     s = /85
    
  */

  update_spans("c", c)
  update_spans("mp", mp)

  update_class_equations("cequals" , "c = " + x)
  update_class_equations("mpequals" , "mp = " + mp)

  latex = "C_p = 100 - M_p"
  latex += "=" + "100 - " + mp 
  latex += "=" + round((100 - mp),2) 

  update_id_equation("costcomplement", latex)

  latex = "\\frac{}{}=\\frac{}{}"

  update_id_equation("retail", latex)
}
</script>

<h2>Question:</h2>
<div id="question">
<p> Find the selling price if the cost is <span class="c"></span> and the markup percent is <span class="mp"></span> based on retail. </p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="cequals equation"/> and <img class="mpequals equation"/></p>
</div>
