<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Multiply number by two simple"-->
<!--tags "demo"-->

<script id="params">
var json_params =    
{
    "z":{"type":"float","val":"3"}
}
</script>

<script id="javascript">
function update_params(params) {

    var zstring = params.z;
    var z = parseFloat(zstring);
    var result = 2 * z;

    update_spans("z", z)
    update_spans("result", result)
}
</script>

<h2>Question:</h2>
<div id="question">
<p> Find the result of 2 times <span class="z"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have :</p>
<p>result = 2(z)= 2(<span class="z"></span>) = <span class="result"></span>  
</div>
