<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Multiply number by two"-->
<!--tags "demo"-->

<script id="params">
var json_params =    
{
    "z":{"type":"int","val":"3"}
}
</script>

<script id="javascript">
function update_params(params) {

    var zstring = params.z;
    var z = parseInt(zstring);
    var result = 2 * z;
    var resultstring = parseFloat(result);

    update_spans("z", z)
    update_class_equations("z_equals", "z=" + z)  
    var latex = "2z = 2(z) = 2(" + zstring + ") = " + resultstring
    update_id_equation("twotimesz",latex)
}
</script>

<h2>Question:</h2>
<div id="question">
<p> Find the result of 2 times <span class="z"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="z_equals eqn"/> and so:</p>
<img id="twotimesz" class="eqn"/>
</div>
