<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Right tail area for normal distribution"-->
<!--tags "statistics,area,normal"-->

<script id="params">
var json_params =    
{
  "x":{"type":"float","val":"2.2"},
  "mu":{"type":"float","val":"2.1"},
  "sigma":{"type":"float","val":"0.5"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var x = parseFloat(params.x)
    var mu = parseFloat(params.mu)
    var sigma = parseFloat(params.sigma)

    var z = round((x-mu)/sigma,2)
    var area = 1.0 - round(stdnormalcdf(z),4);
    var percentarea = Math.round(100 * round(area,2))

    update_spans("x", x)
    update_spans("mu", mu)
    update_spans("sigma", sigma)
    update_spans("percentarea", percentarea)

   update_class_equations("mu_equals", "\\mu=" + mu)
   update_class_equations("sigma_equals","\\sigma=" + sigma)
   update_class_equations("x_equals","x=" + x)

   $('.muequals').attr('style',"vertical-align: middle") 

   // Render equation for the z-value
   // z = (x-mu)/sigma = (3-4)/5 = -.20
   update_id_equation("zvalue", latex_zvalue(x,mu,sigma))

   // Render equation for the area 
   // right tail area = 1.0 - left tail area = 1.0 - .3456 = .6214
   update_id_equation("area", latex_right_tail_area(z))

   // Render graph of z-dist area we want 
   var options = {     
                    left: z,
                    axis_label: "z"
                 };
   update_id_graph("zgraph", new Normal(options)) 

   // Render graph of x-dist area we want 
   options = {     
                mu: mu,
                sigma: sigma,
                left: x,
                axis_label: "x"
             };
   update_id_graph("xgraph", new Normal(options)) 
}
</script>

<h2>Question:</h2>
<div id="question">
<p> For a normal curve whose mean is <span class="mu"></span> with a standard deviation of <span class="sigma"></span> find the area underneath the curve with x greater than <span class="x"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>Here we have <img class="x_equals eqn"/>,<img class="mu_equals eqn"/> and <img class="sigma_equals eqn"/>. </p> 
    <p>Here is a picture of the area we want:</p> 
    <img id="xgraph" class="chart"/>
    <p>First find the z-value for an x-value of <span class="x"></span>:</p>
    <!-- z = (x-mu)/sigma = (3-4)/5 = -.20 -->
    <img id="zvalue" class="eqn"/> 
    <p>So the area we want in terms of the standard normal distribution is:</p>
    <img id="zgraph" class="chart"/>
    <p>Using the standard normal table we look up the area of the left tail associated with the above z-value and then subtract that from 1.0. This gives us the area of the shaded right tail shown above.</p>
    <!-- right tail area = 1.0 - left tail area = 1.0 - .3456 = .6214 -->
    <img id="area" class="eqn"/> 
    <p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
