<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Right tail area for sample proportions"-->
<!--tags "statistics,area,proportions"-->

<script id="params">
var json_params =    
{
  "count":{"type":"int","val":"100"},
  "theta":{"type":"float","val":".45"},
  "n":{"type":"int","val":"250"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var count = parseInt(params.count)
    var theta = parseFloat(params.theta)
    var n = parseInt(params.n)

    var phat = round((count/n),3) 
    var stdev = Math.sqrt(((1-theta)*theta)/n)
    var z = (phat-theta)/stdev
    var area = 1.0 - stdnormalcdf(z)
    var percentarea = Math.round(100 * round(area,2))

    update_spans("count", count)
    update_spans("theta", theta)
    update_spans("n", n)
    update_spans("percentarea", percentarea)
    update_spans("z", round(z,2))

   update_class_equations("count_equals","count=" + count)
   update_class_equations("theta_equals","\\theta=" + theta)
   update_class_equations("n_equals","n=" + n)

   // phat =   
   var latex = "\\hat p=\\frac{count}{n}=\\frac{" + count + "}{" + n + "}=" + phat 
   update_id_equation("phatformula", latex)

   // Render equation for stdev 
   latex = "\\text{std dev}=\\sqrt{\\frac{(1-\\theta)\\theta}{n}}"
   latex += "=" + "\\sqrt{\\frac{(1-" + round(theta,4) + ")" + round(theta,4) + "}{" + n + "}}"
   latex += "=" + "\\sqrt{\\frac{(" + round(1-theta,4) + ")"+ round(theta, 4) + "}{" + n + "}}"
   latex += "=" + "\\sqrt{\\frac{" + round((1-theta)*theta,4) + "}{" + n + "}}"
   latex += "=" + "\\sqrt{" + round((1-theta)*theta/n, 4) + "}"
   latex += "=" + round(stdev,4)
   update_id_equation("stdev", latex)

   // Render equation for the zvalue 
   latex = "z=\\frac{\\hat p - \\theta}{\\text{std dev}}"
   latex += "=" + "\\frac{" + round(phat,4) + "-" + round(theta,4) + "}{" + round(stdev,4) + "}" 
   latex += "=" + "\\frac{" + round(phat-theta,4) + "}{" + round(stdev,4) + "}" 
   latex += "=" + round(z,2)

   update_id_equation("zvalue", latex)

   // Render equation for the area 
   latex = latex_right_tail_area(z)
   update_id_equation("area", latex)

   // Render graph for the phat-dist area we want
   var options = {     
                    mu: theta,
                    sigma: stdev,
                    left: phat,
                    axis_label: "p%CC%82" //urlencoded p hat
                 };
   update_id_graph("phatgraph", new Normal(options)) 

   // Render graph for the z-dist area we want
   var options = {     
                  left: round(z,2), 
                  axis_label: "z" 
                 };

   update_id_graph("zgraph", new Normal(options)) 

}
</script>

<h2>Question:</h2>
<div id="question">
<p> Suppose a sample proportion consists of <span class="count"></span> out of <span class="n"></span>. Find the chance of getting this or something larger from a sampling distribution of sample proportions where the population proportion is equal to <span class="theta"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>Here we have <img class="theta_equals eqn"/>, <img class="count_equals eqn"/>, and <img class="n_equals eqn"/>. </p>
    <p>First we find the sample proportion:</p>
    <img id="phatformula" class="eqn"/>
    <p> Here is a picture of the area we want to compute: </p>
    <img id="phatgraph" class="chart"/>

    <p>We find the standard deviation:</p> 

    <img id="stdev" class="eqn"/>

    <p>Then we find the z-value: </p>

    <img id="zvalue" class="eqn"/>

    <p>Now here is a picture of the standard normal distribution area we need:</p>

    <img id="zgraph" class="chart"/>

    <p>Since our table uses left tails we look up the area for the corresponding left tail and then subtract from 1.0 :</p>

    <img id="area" class="eqn"/> 

    <p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
