<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Right tail area under standard normal distribution"-->
<!--tags "statistics,area,stdnormal"-->

<script id="params">
var json_params =    
{
  "z":{"type":"float","val":"1.25"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

   var z = parseFloat(params.z)
   var area = 1.0 - round(stdnormalcdf(z),4)
   var percentarea = Math.round(100 * round(area,2))

   update_spans("z", z)
   update_spans("percentarea", percentarea)

   update_class_equations("z_equals","z=" + z)

   // Render equation for the right tail area
   // right tail area = 1.0 - left tail area = 1.0 - .34 = .66
   update_id_equation("areaformula", latex_right_tail_area(z))

   // Render graph showing the area we want 
   var options = {
                    left: z,
                    axis_label: "z"
                 };
   update_id_graph("zgraph", new Normal(options))
}

</script>

<h2>Question:</h2>
<div id="question">
<p> For a standard normal curve find the area beneath the curve with z greater than <span class="z"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="z_equals eqn"/> </p>
    <p>Here is a picture of the area we want:</p> 

    <img id="zgraph" class="chart"/>

    <p>Using the standard normal table we look up the area of the left tail associated with the above z-value and then subtract that from 1.0. This gives us the area of the shaded right tail shown above.</p>

    <!--   right tail area = 1.0 - left tail area = 1.0 - .34 = .66 -->
    <img id="areaformula" class="eqn"/> 

    <p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
