<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Right tail area for sampling distribution of means"-->
<!--tags "statistics,area,means"-->

<script id="params">
var json_params =    
{
  "xbar":{"type":"float","val":"5"},
  "mu":{"type":"float","val":"6"},
  "sigma":{"type":"float","val":"4"},
  "n":{"type":"int","val":"25"}
}
</script>

<script class="library" src="http://mathplosion.com/media/normal.js"></script>
<script id="javascript">
function update_params(params) {

    var xbar = parseFloat(params.xbar)
    var mu = parseFloat(params.mu)
    var sigma = parseFloat(params.sigma)
    var n = parseInt(params.n)

    var z = round((xbar-mu)/(sigma/Math.sqrt(n)),3)
    var area = 1 - round(stdnormalcdf(z),3)
    var percentarea = Math.round(100 * round(area,2))

    update_spans("xbar", xbar)
    update_spans("mu", mu)
    update_spans("sigma", sigma)
    update_spans("n", n)
    update_spans("percentarea", percentarea)

   update_class_equations("muequals", "\\mu=" + mu)
   update_class_equations("sigmaequals","\\sigma=" + sigma)
   update_class_equations("xbarequals","\\bar x=" + xbar)
   update_class_equations("nequals","n=" + n)

   //This fixes the alignment for mu
   $('.muequals').attr('style',"vertical-align: middle") 

   // Render equation for the z-value
   // z = (xbar - mu)/(sigma/sqrt(n)) = (23 - 20)/(3/4) = 3/.75 = 4 etc
   update_id_equation("zvalue", latex_zvalue_means(xbar,mu,sigma,n))

   // Render equation for the right tail area
   // right tail area = .4534
   update_id_equation("area", latex_right_tail_area(z))

   // Render graph for the z-dist area we want
   var options = {     
                  left: z, 
                  axis_label: "z" 
                 };
   update_id_graph("zgraph", new Normal(options)) 

   // Render graph for the xbar-dist area we want
   var stddev = sigma/Math.sqrt(n)
   var options = {     
                    mu: mu,
                    sigma: stddev,
                    left: xbar,
                    axis_label: "x%CC%84"  //this is urlencoded xbar
                 };
   update_id_graph("xbargraph", new Normal(options)) 
}
</script>

<h2>Question:</h2>
<div id="question">
<p>Suppose a population distribution has a mean of <span class="mu"></span> with a standard deviation of <span class="sigma"></span>. For the sampling distribution of sample means find the chance that x&#772; is more than <span class="xbar"></span>. Suppose the sample size is <span class="n"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>Here we have <img class="xbarequals" class="equation"/>,<img class="muequals" class="equation"/>, <img class="sigmaequals" class="equation"/> and <img class="nequals" class="equation"/>. </p> 

    <p>Here is a picture of the area we want:</p> 

    <img id="xbargraph" class="chart"/>

    <p>First find the z-value for an x&#772;-value of <span class="xbar"></span>:</p>

    <!-- z = (xbar - mu)/(sigma/sqrt(n)) = (23 - 20)/(3/4) = 3/.75 = 4 etc --> 
    <img id="zvalue" class="equation"/> 

    <p>So the area we want in terms of the standard normal distribution is:</p>

    <img id="zgraph" class="chart"/>

    <p>Then using the standard normal table we look up the area associated with the above z-value. We subtract from 1.0 since we are interested in a right tail:</p>

    <img id="area" class="equation"/> 

    <p>Rounded to the nearest percent this is <span class="percentarea"></span>%.</p>
</div>
