<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Sum of vertex angles"-->
<!--tags "geometry"-->

<script id="params">
var json_params =    
{
   "n":{"type":"int","val":"4"}
}
</script>

<script id="javascript">
function update_params(params) {

 var n = parseInt(params.n)
 var sum = 180 * (n - 2)

  update_spans("n", n)

  update_class_equations("n_equals" , "n = " + n)

  var latex = "\\text{Sum  of  Vertex  Angles}"
  latex += "=" + "180 (n - 2)"
  latex += "=" + "180 (" + n + "-2)"
  latex += "=" + "180 (" + (n-2) +")"
  latex += "=" + sum
  update_id_equation("sum", latex)
}
</script>

<h2>Question:</h2>
<div id="question">
<p>Find the sum of the vertex angles in a polygon that has n= <span class="n"></span> sides </p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p> We have <img class="n_equals eqn"/> </p> <p><img id="sum" class="eqn"/> degrees </p>
</div>
