<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "sum of two numbers simple version"--> 
<!--tags "demo"--> 

<script id="params">
var json_params =    
{
  "x":{"type":"float","val":"403"}, 
  "y":{"type":"float","val":"402"}
}
</script>

<script id="javascript">
function update_params(params) {

  var x = parseFloat(params.x)
  var y = parseFloat(params.y)

  var sum = x + y

  update_spans("x", x);
  update_spans("y", y);
  update_spans("sum", sum);
}
</script>

<h2>Question:</h2>
<div id=question> 
  Find the sum of <span class="x"></span> and <span class="y"></span>.
</div> 

<h2>Answer:</h2>
<div id=answer>
<p> We have : </p>
<p>x + y = <span class="x"></span> + <span class="y"></span> = <span class="sum"></span>  
</div> 
