<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "sum of two numbers"--> 
<!--tags "demo"--> 

<script id="params">
var json_params =    
{
  "x":{"type":"float","val":"35"}, 
  "y":{"type":"float","val":"4"}
}
</script>

<script id="javascript">
function update_params(params) {

  var x = parseFloat(params.x)
  var y = parseFloat(params.y)

  var sum = x + y

  update_spans("x", x);
  update_spans("y", y);

  update_class_equations("x_equals" , "x = " + x)
  update_class_equations("y_equals" , "y = " + y)

  var latex = "x + y = " + x + " + " + y + "=" + sum
  update_id_equation("sum", latex)
}
</script>

<h2>Question:</h2>
<div id=question> 
  Find the sum of <span class="x"></span> and <span class="y"></span>.
</div> 

<h2>Answer:</h2>
<div id=answer>
<p> We have <img class="x_equals eqn"/> and <img class="y_equals eqn"/>: </p>
<img id="sum" class="eqn"/>
</div> 
