<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "This is the name"-->
<!--tags "demo"--> 

<script id="params">
var json_params =    
{
}
</script>

<script id="javascript">
function update_params(params) {
}
</script>

<h2>Question:</h2>
<div id="question">
</div>

<h2>Answer:</h2>
<div id="answer">
</div>
