<script src="http://mathplosion.com/media/js/jquery-1.7.1.min.js"></script>
<script src="http://mathplosion.com/media/mathplosion.js"></script>

<!--name "Finding t values"-->
<!--tags "statistics"-->

<script id="params">
var json_params =    
{
  "xbar":{"type":"float","val":"60"},
  "mu":{"type":"float","val":"62"},
  "s":{"type":"float","val":"15"},
  "n":{"type":"float","val":"30"}
}
</script>

<script id="javascript">
function update_params(params) {

    var mu = parseFloat(params.mu)
    var s = parseFloat(params.s)
    var xbar = parseFloat(params.xbar)
    var n = parseFloat(params.n)

   var t = round((xbar-mu)/(s/Math.sqrt(n)),2) 

    update_spans("xbar", xbar)
    update_spans("mu", mu)
    update_spans("s", s)
    update_spans("n", n)

    update_class_equations("xbar_equals","\\bar x=" + xbar)
    update_class_equations("mu_equals","\\mu=" + mu)
    update_class_equations("s_equals","s=" + s)
    update_class_equations("n_equals","n=" + n)

   // Render equation for the t-value
   // t = (xbar - mu)/(s/sqrt(n)) = (23 - 20)/(3/4) = 3/.75 = 4 etc

   var latex = 't'
   latex += '=\\frac{\\bar x - \\mu}{\\frac{s}{\\sqrt{n}}}'
   latex += '=\\frac{' + xbar + '-' + mu + '}{\\frac{'+s+'}{\\sqrt{'+n+'}}}'
   latex += '=\\frac{' + round(xbar - mu,2) + '}{' + round(s/Math.sqrt(n),2) + '}'
   latex += '=' + round((xbar - mu)/(s/Math.sqrt(n)), 2)

   update_id_equation("tvalue", latex)

}
</script>

<h2>Question:</h2>
<div id="question">
<p> Find the t value for a sample mean of <span class="xbar"></span> with the population mean of <span class="mu"></span> and a sample standard devation given by <span class="s"></span> Assume a sample size of <span class="n"></span>.</p>
</div>

<h2>Answer:</h2>
<div id="answer">
<p>We have <img class="xbar_equals eqn"/>, <img class="mu_equals eqn"//>, <img class="s_equals eqn"/> and <img class="n_equals eqn"/>:</p>

    <!-- t = (xbar - mu)/(s/sqrt(n)) = (23 - 20)/(3/4) = 3/.75 = 4 etc --> 
    <img id="tvalue" class="eqn"/>
</div>
