body {
  padding-top: 60px;
  padding-bottom: 40px;
  overflow-y:scroll;
}

.problem, #question, #answer{
    text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.blackwhite {
    color: black;
    background-color: white;
}

#formparams label {
   margin-left: 1em;
}

#formparams {
   margin-bottom: 5px;
}

#pagecontent{
    margin-top: 15px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.problemwrapper {
    margin-bottom: 10px;
}

.row-fluid [class*="span"] {
  text-align: center;
}

.problemtitle {
  text-align: left;
}

#footernav {
  text-align: center;
}

#pagenav .nav-pills {
  margin-bottom: 0;
}
