{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
<h1>Whoops... <small>There was a problem!</small></h1>
<p>Sorry about that. We are still in heavy development at this time and sometimes problems do occur. </p>

<p>If you find bugs or issues please report them at  
<a href="http://bitbucket.org/calvinw/mathplosion/issues">Report a Bug</a></p>

<p>If you have questions or are looking for help please visit the
<a href="{% url views.users %}">Mathplosion Users Forum </a></p>

</div>
{% endblock %}
