{% load editor_extras %}
{%if mode != "edit" %}
<div class="blackwhite">
<ol>
{% endif %}

{% for problem in problems %}
{%if mode == "edit" %}
<div class="problemwrapper">
<div class="row-fluid">
    <div class="span6">
        <div class="problemtitle">
            <h4>{{ problem.name }}</h4>
        </div>
    </div>

    <div class="span6">
        <div class="btn-group pull-right">
          <a id="trigger{{problem.id}}" class="btn btn-small trigger" title="Show/Hide Answer">
            {% icon "icon-plus" %} </a>

          <a class="btn btn-small" title="Edit This Problem" href="{% url editor.views.edit_problem problem.id %}">
            {% icon "icon-pencil" %} Edit</a>

          <a class="btn btn-small ajax_link" title="Make a Copy of This Problem" href="{% url ajax_copy_problem pid=problem.id %}">
            {% icon "icon-copy"%} Copy</a>

          <a class="btn btn-small ajax_link" title="Move This Problem Up" href="{% url ajax_move_problem pid=problem.id direction="up" %}">
            {% icon "icon-arrow-up" %} </a>

          <a class="btn btn-small ajax_link" title="Move This Problem Down" href="{% url ajax_move_problem pid=problem.id direction="down" %}">
            {% icon "icon-arrow-down" %} </a>

          <a class="btn btn-small btn-warning ajax_link" title="Delete This Problem" href="{% url ajax_delete_problem pid=problem.id%}">
            {% icon "icon-remove" %} </a>

        </div> <!-- end btn group --> 
    </div>
</div> <!--row-fluid-->
{% else %}
<li>
{% endif %}

<div id="problem{{problem.id}}" class="problem blackwhite">
    <div class="question">
       {{problem.question|safe}}
    </div>

    {%if mode == "edit" or mode == "full" %}
    <div id="target{{problem.id}}" class="answerwrapper" {%if mode == "edit" %} style="display:none" {% endif %}>
        <h5 class="blackwhite" >Answer </h5>
            <div class="answer">
                {{problem.answer|safe}}
            </div>
    </div>
    {% endif %}
</div> <!--problem -->

{%if mode == "edit"%}
</div> <!--problem wrapper-->
{% else %}
</li>
{% endif %}

{% endfor %}

{%if mode != "edit" %}
</ol>
</div>
{% endif %}
