{% load editor_extras %}

<ul class="unstyled">
{% for list in lists %}
<li>

<div class="problemwrapper">
    <div class="row-fluid">

        <div class="span6">
            <div class="problemtitle">
                <h4> {{ list.name }} </h4>
            </div>
        </div>

        <div class="span6">
            <div class="pull-right btn-group">
            <a class="btn btn-small" title="Edit Problem Set" href="{% url editor.views.list id=list.id %}">
            {% icon "icon-pencil" %} Edit</a>

            <a class="btn btn-small" title="Change Settings: Name,Tags" href="{% url editor.views.change_list_settings list.id %}">
            {% icon "icon-wrench" %} Settings</a>

            <a class="btn btn-small" title="Generate" href="{% url editor.views.view_list list.id %}">
            {% icon "icon-share" %} Generate</a>

            <a class="btn btn-small ajax_link" title= "Move Up" href="{% url ajax_move_list id=list.id direction="up" %}" >
            {% icon "icon-arrow-up" %}</a>

            <a class="btn btn-small ajax_link" title= "Move Down" href="{% url ajax_move_list id=list.id direction="down" %}">
            {% icon "icon-arrow-down" %}</a>

            <a class="btn btn-small btn-warning ajax_link" title="Delete Problem Set" href="{% url ajax_delete_list id=list.id %}">
            {% icon "icon-remove" %}</a>
            </div>
        </div>

    </div>
</div>

</li>
{% endfor %}
</ul>
