{% load editor_extras %}

<ul class="unstyled">

{% for template in templates %}
<li>

<div class="problemwrapper">
<div class="row-fluid">

    <div class="span6">
        <div class="problemtitle">
            <h4>{% if request.session.templates_mode == "other" %} [{{template.user.username}}] {% endif %} {{template.name}} </h4>
        </div>
    </div>
    <div class="span6">
        <div class="btn-group pull-right">

          <a id="trigger{{template.id}}" class="btn btn-small trigger" title="Show/Hide Answer">
            {% icon "icon-plus" %}
          </a>

                {% if list %}
                <button type="button" name="template{{template.id}}" value="{{template.id}}" class="addit btn btn-primary btn-small" data-toggle="button" title="Add It to the Problem Set">
                  {% icon "icon-check" %} Add It</button>
                {% else %}

                <a class="btn btn-small" title="Generate Just One of These"
                href="{% url editor.views.get_one template.id %}" >
                  {% icon "icon-share" %} Generate</a>

                {% if user.is_superuser or request.session.templates_mode == "user" %}
                <a class="btn btn-small" title="Change Settings"  
                href="{% url editor.views.change_template_settings template.id %}" >
                {% icon "icon-cog" %} Settings</a>

                {% comment %}
                {% if template.filename|slice:":17" == "http://jsbin.com/" %}
                <a class="btn btn-small" title="Import From JsBin"  
                href="{% url editor.views.import_template template.id %}" >
                {% icon "icon-refresh" %} Import</a>
                {% else %}
                <a class="btn btn-small disabled" title="No JsBin to Import. Set URL in Settings to Import. "> 
                {% icon "icon-remove-circle" %} Import</a>
                {% endif %}
                {% endcomment %}

                <a class="btn btn-small" title="Import From File"  
                href="{% url editor.views.import_template template.id %}" >
                {% icon "icon-refresh" %} Import</a>
                
                <a class="btn btn-small btn-warning ajax_link" title="Delete"
                href="{% url editor.views.ajax_delete_template tid=template.id %}" >
                {% icon "icon-remove" %}</a>
                {% endif %}
                {% endif %}
           </div>
    </div>
</div>

<div id="template{{template.id}}" class="problem blackwhite">
    <div class="question">
        {{template.question|safe}}
    </div>

    <div id="target{{template.id}}" class="answerwrapper" style="display:none">
        <h5 class="blackwhite" >Answer </h5>
        <div class="answer">
            {{template.answer|safe}}
        </div>
    </div>
</div> 

</li>
{% endfor %}
</ul>
