{% load editor_extras %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mathplosion</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/media/js/jquery-1.7.2.js"></script>

    <!--
	<script src="/media/js/prefixfree.min.js"></script>
    -->

    <!-- bootstrap -->
    <link href="{% bootstrap_css_path %}" rel="stylesheet">

    <!-- fontawesome -->
    <link href="{% fontawesome_css_path %}" rel="stylesheet">

    <! -- application styles -->
    <link href="/media/mathplosion.css" rel="stylesheet">

    <!-- bootstrap responsive -->
    <link href="{% bootstrap_responsive_css_path %}" rel="stylesheet">

    {% background_color_css %}

{% block js %}
{% endblock js %}

  </head>
  <body>

<div class="navbar navbar-fixed-top">
      <div class="navbar-inner"> 
        <div class="container-fluid"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a>

          <a class="brand" href="{% url views.landing %}">Mathplosion</a>

{% if user.is_authenticated %}
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              {% icon "icon-user" %}
              {{user.username}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
{% comment %}
                <li><a href="#">Help Profile</a></li>
                <li><a href="#">Edit Profile</a></li>
                <li class="divider"></li>
{% endcomment %}
                 <li>
                     <a href="{% url views.logout_view%}">
                        {% icon "icon-signout" %}
                        Sign Out
                     </a>
                 </li>
          </ul>
          </div>
          

{% endif %}
			
          <ul class="nav pull-right">
            <li class="dropdown">
            <a href=# class="dropdown-toggle"  title="Choose a Theme" data-toggle="dropdown">
               Theme
               <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <li><a href="{% url theme "bootstrap" %}">Bootstrap</a></li>
            <li><a href="{% url theme "amelia" %}">Amelia</a></li>
            <li><a href="{% url theme "spruce" %}">Spruce</a></li>
            <li><a href="{% url theme "cerulean" %}">Cerulean</a></li>
            <li><a href="{% url theme "cosmo" %}">Cosmo</a></li>
            <li><a href="{% url theme "cyborg" %}">Cyborg</a></li>
            <li><a href="{% url theme "journal" %}">Journal</a></li>
            <li><a href="{% url theme "readable" %}">Readable</a></li>
            <li><a href="{% url theme "simplex" %}">Simplex</a></li>
            <li><a href="{% url theme "slate" %}">Slate</a></li>
            <li><a href="{% url theme "spacelab" %}">Spacelab</a></li>
            <li><a href="{% url theme "superhero" %}">Superhero</a></li>
            <li><a href="{% url theme "united" %}">United</a></li>
            </ul>
            </li>
          </ul>

          <div class="nav-collapse">
          <ul class="nav">
            <li {%block problem_sets_active%}{%endblock%} ><a href="{% url lists %}">Problem Sets</a></li>
            <li {%block templates_active%}{%endblock%} ><a href="{% url templates %}">Templates</a></li>
{% comment %}
            <li {%block tags_active%}{%endblock%} ><a href="{% url tags %}">Tags</a></li>
{% endcomment %}
          </ul>
          </div>
        </div> 
      </div> 
    </div>

<div id="content">
{% block content %}
<div class="container-fluid">

{% include "herosmall.html" %}

</div><!-- end container-fluid-->
{% endblock content %}
</div><!-- end content-->

  <footer>
  <nav id="footernav">
    <a href="{% url views.helpvideos%}"> Help Videos </a> |
    <a href="{% url views.users %}"> Help Forum </a> |
    <a href="http://bitbucket.org/calvinw/mathplosion/issues"> Report a Bug </a> |
    <a href="{% url views.tos %}"> Terms of Service </a> |
    <a href="http://mathplosion.tumblr.com"> Visit On Tumblr </a>

  {% if request.session.theme  == "bootstrap" or not request.session.theme %}
    <p>Your theme is bootstrap, courtesy of <a href="http://twitter.github.com/bootstrap">Bootstrap from Twitter</a></p>
  {% else %}
    <p>Your theme is <a href="http://bootswatch.com/{{request.session.theme}}">{{request.session.theme}}</a>, courtesy of <a href="http://bootswatch.com">Bootswatch</a></p>
  {% endif %}
  </nav> 
  </footer>

    <!-- javascript
    ================================================== -->
    <script src="{% bootstrap_js_path %}"></script>
  </body>
</html>
