{% extends "main.html" %}

{% block mainjs %}
<script type="text/javascript"> 
function setup_pagecontent() {
    setup_pagecontent_ajax_links();
}
</script>
{% if template.params %}
<script type="text/javascript" src="/media/mathplosion.js"></script>
<script type="text/javascript"> 
var json_params={{template.params|safe}};
</script>
{{template.javascript|safe}}
{% endif %}
{{block.super}}
{% endblock mainjs %}

{% block pageheader %}
<h2>Template: {{template.name}}</h2>
{% endblock pageheader %}

{% block pagecontent %}
<ul id="myTab" class="nav nav-pills">
  <li class="active"><a href="#settings" data-toggle="tab">Settings</a></li>
  <li><a href="#preview" data-toggle="tab">Preview</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="settings">
<form class="well form-horizontal" id="saveform" method="post" action="{% url editor.views.save_template_settings tid%}">
{% csrf_token %}
<fieldset>
<div class="control-group">
<label class="control-label" for="id_name">Name:</label>
<div class="controls">
 {{templatesettingsform.name}}  
</div>
</div>
<div class="control-group">
<label class="control-label" for="id_tags">Tags:</label>
<div class="controls">
{{templatesettingsform.tags}}
</div>
</div>
<div class="control-group">
<label class="control-label" for="id_filename">Filename or Jsbin URL:</label>
<div class="controls">
{{templatesettingsform.filename}}
</div>
</div>
<div class="form-actions">
<input name="save" class="btn btn-primary" type="submit" value="Save Settings" /> 
<a class="btn" title="Cancel" href="{% url editor.views.templates %}" >Cancel</a>
</div>
</fieldset>
</form>

  </div>
  <div class="tab-pane fade in" id="preview">
  <form id="form" class="well form-inline">
      <div class="row-fluid">
          <div class="span12">
              <div id="formparams">
              <!-- params will be put in via jquery by mathplosion.js -->
              </div>
          </div>
      </div>
  </form>
  <div id="template{{template.id}}" class="problem blackwhite">
      <h3 class="blackwhite" >Question</h3>
      <div id="question">
        {{template.question_template|safe}}
      </div>
      <h3 class="blackwhite" >Answer</h3>
      <div id="answer">
        {{template.answer_template|safe}}
      </div>
  </div>

  </div>
</div>

{% endblock pagecontent %}
