{% extends "main.html" %}

{% block title %}
<div class="span12">
  <h2> Change the Settings for this Problem Set </h2>
</div>
{% endblock title %}          

{% block pageform%}
  <form method="post" action="{% url editor.views.save_list_settings list.id %}">
  {% csrf_token %}
<p> Name: {{listform.name}} </p>
<p> Tags: {{listform.tags}} </p>
  <input type="submit" value="Submit">
  </form>
{% endblock pageform%}
