{% extends "base.html" %}

{% block content %}
<div id="content">
<div style="margin:20px" class="video">
<iframe  width="852" height="480" src="http://www.youtube.com/embed/tYSD2aYZTa0" frameborder="0" allowfullscreen></iframe>
</div>
</div>
{% endblock %}
