{% extends "base.html" %}

{%block content %}
<div class="container-fluid">
<div class="row-fluid">
<div class="span2">
    <div class="well sidebar-nav">
      <ul class="nav nav-list">
        <li class="nav-header">Categories</li>
        <li class="active"><a href="#">Statistics</a></li>
        <li><a href="#">Basic</a></li>
        <li><a href="#">Algebra</a></li>
        <li><a href="#">Geometry</a></li>
        <li><a href="#">Demo</a></li>
      </ul>
    </div><!--/.well -->
</div><!-- end span3 -->
<div class="span10">
{% include main_html %}
</div><!-- end span10 -->
</div><!-- end row-fluid-->
</div><!-- end container-fluid-->
{%endblock content %}
