{% extends "problem.html" %}
{% load editor_extras %}

{% block question %}
<div class="btn-group pull-right">
  <a id="editquestion_btn" class="btn btn-small" title="Editor ">
        {% icon "icon-plus" %} Edit Content</a>
</div> <!-- btn-grp -->
{{block.super}}
{% endblock question %}

{% block answer %}
<div class="btn-group pull-right">
  <a id="editanswer_btn" class="btn btn-small" title="Editor ">
     {% icon "icon-plus" %} Edit Content</a>
</div> <!-- btn-grp -->
{{block.super}}
{% endblock answer %}
