{% extends "parametrized_problem_main.html" %}
{% load editor_extras %}

{% block mainjs %}
<script type="text/javascript" src="/media/tinymce/jscripts/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript" src="/media/tinymce/jscripts/tiny_mce/plugins/autoresize/editor_plugin.js"></script>

<script type="text/javascript"> 

function setup_pagecontent() {
    //we have nothing to do
}

function init_editor(id) {
    var textarea_id = id + "_textarea";
    var selector = "#" + id;
    var textarea_selector = selector + "_textarea";
    var textarea = '<textarea id="' + textarea_id + '" style="width:100%;display:none"></textarea>'
    $(selector).before(textarea);
    tinyMCE.execCommand('mceAddControl', false, textarea_id);
}

function show_editor(id) {
  var textarea_id = id + "_textarea";
  var selector = "#" + id;
  var textarea_selector = selector + "_textarea";

  // Yuck, set a global for mathplosion.js
  set_editing_mode(id,true); 

  //Get the div html, hide the div
  var html = $(selector).html();
  $(selector).hide();

  //Show the textarea
  $(textarea_selector).show();

  //Toggle the mce editor and pass in the html.
  tinyMCE.execCommand('mceToggleEditor',false,textarea_id);
  tinyMCE.get(textarea_id).setContent(html);
  //tinyMCE.get(textarea_id).dom.loadCSS("{{me
}

function hide_editor(id) {
  var selector = "#" + id;
  var textarea_id = id + "_textarea";
  var textarea_selector = selector + "_textarea";

  //Get the html out, hide the editor 
  var html = tinyMCE.get(textarea_id).getContent(html);
  tinyMCE.execCommand('mceToggleEditor',false,textarea_id);

  //Hide the textarea
  $(textarea_selector).hide();

  //put the html in the div, and show it 
  $(selector).html(html);
  $(selector).show();

  // Yuck, set a global for mathplosion.js
   set_editing_mode(id,false); 
}

function set_editing_mode (id, mode) {
  if(id === "question" && mode === true) {
     mathplosion_editquestion = true;
  }
  else if(id === "question" && mode === false) {
     mathplosion_editquestion = false;
  }
  else if(id === "answer" && mode === true) {
     mathplosion_editanswer = true;
  }
  else if(id === "answer" && mode === false) {
     mathplosion_editanswer = false;
  }
}

$(document).ready(function() {

    //var reload_opts ="?" + new Date().getTime();

      var theme_url = "{% bootstrap_css_path %}"

      //theme_url += reload_opts; 
      var mp_theme_url = "/media/mce_problemstyle.css";
      //mp_theme_url += reload_opts; 

      tinyMCE.init({ 
              theme : "advanced",
              //plugins: "fullscreen", 
              plugins: "autoresize", 
              width: "100%",
              content_css : theme_url + "," + mp_theme_url,
//            content_css : theme_url + "?" + new Date().getTime(),
              convert_urls: false,
              theme_advanced_buttons1 : "bold,italic,underline,|,justifyleft,justifycenter,justifyright,justifyfull,|,fontselect,fontsizeselect",
              theme_advanced_buttons2 : ",undo,redo,|,link,unlink,image,code,|,bullist,numlist,|,outdent,indent,|,forecolor,backcolor",
              theme_advanced_buttons3 : "",
              theme_advanced_buttons4 : "",
              theme_advanced_toolbar_align : "left",
              theme_advanced_toolbar_location : "top",
              theme_advanced_statusbar_location : "bottom",
              theme_advanced_resizing: true,
              theme_advanced_resizing_min_width: 320,
              theme_advanced_resize_horizontal : true
          });

      init_editor("question");
      init_editor("answer");

   var editquestion_btn = $('#editquestion_btn');
   editquestion_btn.click(function()    {
      var icon = $(this).find('i')
      if (icon.hasClass('icon-plus')) {
          icon.removeClass('icon-plus');
          icon.addClass('icon-minus');
          mathplosion_editquestion = true;
          show_editor("question");
      }
      else if (icon.hasClass('icon-minus')) {
          icon.removeClass('icon-minus');
          icon.addClass('icon-plus');
          hide_editor("question");
          mathplosion_editquestion = false;
      }
    });

   var editanswer_btn = $('#editanswer_btn');
   editanswer_btn.click(function(){
        var icon = $(this).find('i')

        if (icon.hasClass('icon-plus')) {
            icon.removeClass('icon-plus');
            icon.addClass('icon-minus');
            mathplosion_editanswer = true;
            show_editor("answer");
        }
        else if (icon.hasClass('icon-minus')) {
            icon.removeClass('icon-minus');
            icon.addClass('icon-plus');
            hide_editor("answer");
            mathplosion_editanswer = false;
        }
    });

  //Hook up to the submit event
  $('#form').submit(function() {

    if(mathplosion_editquestion === true){ 
        hide_editor("question");
    }

    if(mathplosion_editanswer === true) {
        hide_editor("answer");
    }

   //Get the html from the div and put in the hidden input of the form
    update();
     $('#id_question').val($("#question").html());
     $('#id_answer').val($("#answer").html());
     $('#id_params').val(JSON.stringify(json_params));
  });

//Disable the enter key
  $("input").keypress(function (e) {
      var k = e.which;
      if (k == 13) {
          return false;
      }
  });

});
</script>
{{block.super}}
{% endblock mainjs %}

{% block pageform %}
{% if list %}
<form id="form" class="well form-inline" method="post" action="{% url editor.views.save problem.id %}">
{% else %}
<form id="form" class="well form-inline" method="post" action="{% url editor.views.generate_one problem.id %}">
{% endif %}
{% csrf_token %}

<!-- Here are the hidden fields -->
{{problemform.params}} 
{{problemform.question}} 
{{problemform.answer}} 

<!-- First row of the form -->
<div class="row-fluid">
    <div class="span12">
        <div id="formparams">
        <!-- params will be put in via jquery by mathplosion.js -->
        </div>
    </div>
</div>

<!-- Second row of the form -->
<div class="row-fluid">
    <div class="span12">
    {% if list %}
    <input class="btn btn-primary" type="submit" value="Save Problem" /> 
    <a class="btn" title="Finished" href="{% url editor.views.list list.id %}" >Finished Editing</a>
    {% else %}
<!--
    <input class="btn btn-primary btn-success" type="submit" value="Generate" /> 
-->
    <button type="submit" class="btn btn-primary btn-large btn-success">{% icon "icon-share" %} Generate This Problem</button>
    {% endif %}
    </div>
</div>

</form>
{% endblock pageform %}

{% block pagecontent %}
{% include "editable_problem.html" %}
{% endblock pagecontent%}
