{% extends "base.html" %}

{% block content %}
{% if form.errors %}
<div id="form-error">
    <p>The operation could not be performed because one or more error(s) occurred.<br />Please try again after making the following changes:</p>
    <ul>
    {% for field in form %}
        {% if field.errors %}
            <li><p> For {{field.name}}:</p> {{field.errors|striptags }}</li>
        {% endif %} 
    {% endfor %}
    </ul>
</div>
{% endif %}
{% endblock %}
