{% extends "base.html" %}

{% block content %}
<div class="hero-unit">
	<h2> Videos </h2>
  <ul> 
    <li>
      <a href="https://youtu.be/A_2dN2DJngg">Basic Tutorial</a>
      <p> This is a basic tutorial video </p>
    </li>
    <li>
      <a href="https://youtu.be/CznYHY7FNxc">Editing Content</a>
      <p> Editing Content.</p>
    </li>
    <li>
     <a href="https://youtu.be/u8wpjeH2Hao">Choosing a Theme</a>
      <p> Choosing a Theme.</p>
    </li>
    <li>
      <a href="{% url views.demovideo %}">Previous Version of Mathplosion</a>
      <p> This video shows a previous version!</p>
    </li>
  </ul>
  Other videos are on youtube <a href="https://www.youtube.com/user/mathplosion">here</a>
</div>
{% endblock %}
