{% load editor_extras %}
<div class="hero-unit">
    <h1>Mathplosion</h1>
    <p>Welcome to Mathplosion, a website for generating mathematics content. </p>
<div class="row-fluid">
    {% if user.is_authenticated %}
    <!--Don't show the Sign in button--->
    {% else %}
    <div class="span4">
      <a href="{% url django.contrib.auth.views.login %}" class="btn btn-primary btn-large btn-block">{% icon "icon-signin" %} Login</a>
    </div>
    <!--
    <div class="span4">
      <a href="{% url registration_register %}" class="btn btn-success btn-large btn-block">Register...</a>
    </div>
    -->
    {% endif %}
    <div class="span4">
    <a href="{% url views.helpvideos%}" class="btn btn-info btn-large btn-block">{% icon "icon-facetime-video" %} Videos About Mathplosion</a>
    </div>
{% comment %}
    <div class="span3">
    <a href="http://mathplosion.tumblr.com" class="btn btn-info btn-large btn-block">{% icon "icon-external-link" %} Visit Us On Tumblr</a>
    </div>
{% endcomment %}
</div>
</div>
