<div class="row">
		<div class="hero-unit">    
	      
	      <div class="row">
		  	<h1>Mathplosion</h1>
	    	<p class="span6">Welcome to Mathplosion, a website for generating mathematics content. </p>
			{% if user.is_authenticated %}
			    <!--Don't show the Sign in button--->
			{% else %}
	
			 <div id="login-area" class="span3 offset1">
				<a href="{% url django.contrib.auth.views.login %}" class="btn btn-primary btn-large">Sign In</a>
			 </div>
			</div><!-- end nested 1st row-->
		
		  {% endif %}
		
		<div class="row">
		<img class="span3" src="/media/image_tutorials.png" alt="Mathplosion Video Tutorials" width="320">
	        <div class="span3">
	          <h2>Tutorials</h2>
	           <p>New to Mathplosion? </p>
	           <a href="{% url views.helpvideos%}" class="btn btn-info btn-large">
				    Watch a Demo
				</a>
	        </div>
	        
	        <div class="span3 offset1">
	          <h2>Tumblr</h2>
	           <p>Want to hear about upcoming events? </p>
	           <a href="http://mathplosion.tumblr.com" class="btn btn-info btn-large">
				    Visit Us On Tumblr
			    </a>
	        </div>
	   </div><!-- end nested 2nd row-->
        
	</div><!-- end hero-unit-->
	</div><!-- end main 1st row-->
