{% extends "main.html" %}

{% block mainjs %}
<script type="text/javascript"> 
$(document).ready(function() {
  $('#saveform').submit(function() {
     var question_html = $('#question').html();
     $('#id_question').val($.trim(question_html));
     var answer_html = $('#answer').html();
     $('#id_answer').val($.trim(answer_html));
  });
});
</script>
<script type="text/javascript"> 
function setup_pagecontent() {
    setup_pagecontent_ajax_links();
}
</script>
<script type="text/javascript" src="/media/mathplosion.js"></script>
<script type="text/javascript"> 
var json_params={{template.params|safe}};
</script>
{{template.javascript|safe}}
{{block.super}}
{% endblock mainjs %}

{% block pagenav%}
{% endblock pagenav%}

{% block pageheader %}
<div class="row-fluid">
    <div id="title">
        <div class="span12">
                <h2>Template Filename: {{template.filename}} </h2>
        </div>
    </div>
</div>
{% endblock pageheader %}

{% block pageform%}
    <div class="container">
        <form class="well form-horizontal" id="saveform" method="post" action="{% url save_import_template tid=tid %}">
            {% csrf_token %}
            {{templateform.question}}
            {{templateform.answer}} 

            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="id_name">Name:</label>
                    <div class="controls">
                        {{templateform.name}}  
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="id_tags">Tags:</label>
                    <div class="controls">
                        {{templateform.tags}}
                    </div>
                </div>
                <div class="form-actions">
                    <input name="import" class="btn btn-primary" type="submit" value="Import To Mathplosion" /> 
                    <a class="btn" title="Cancel" href="{% url editor.views.templates %}" >Cancel</a>
                </div>
            </fieldset>
        </form>
  </div>
<div class="row-fluid">
    <div class="span12">
        <h3> Below is what your problem will look like in Mathplosion: </h3>
        <p> Edit file first, then refresh here before importing it. </p>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <form id="formrefresh" class="form-inline">
{% if template.filename|slice:":17" == "http://jsbin.com/" %}
        <a class="btn btn-small" title="Edit In Jsbin"  
        target="_blank" href="{{template.filename}}/latest/edit#html,live" >
        <i class="icon-edit"></i> Edit In Jsbin</a>
{% endif %}
        <a class="btn btn-small btn-success" title="Refresh Preview" href="" >Refresh Preview</a>
        </form> 
    </div>
</div>
{% endblock pageform%}

{% block pagecontent %}
<h2>Preview of Your Problem</h2>

<form id="form" class="well form-inline">
<div class="row-fluid">
    <div class="span12">
        <div id="formparams">
        <!-- params will be put in via jquery by mathplosion.js -->
        </div>
    </div>
</div>
</form>

<div id="template{{template.id}}" class="problem blackwhite">
<h3 class="blackwhite" >Question</h3>
  <div id="question">
    {{template.question_template|safe}}
  </div>
<h3 class="blackwhite" >Answer</h3>
  <div id="answer">
    {{template.answer_template|safe}}
  </div>
</div>
{% endblock pagecontent %}
