{% extends "main.html" %}
{% load editor_extras %}

{% block mainjs %}
<script type="text/javascript"> 
function setup_pagecontent() {
    setup_pagecontent_ajax_links();
    setup_answer_triggers();
}

function setup_answer_triggers() {
    $('.trigger').click(function(event){

        var trigger_id = $(this).attr('id');
        var target_id = trigger_id.replace("trigger","target");
        $('#' + target_id).toggle();

        var icon = $(this).find('i')
        if (icon.hasClass('icon-plus')) {
            icon.removeClass('icon-plus');
            icon.addClass('icon-minus');
        }
        else if (icon.hasClass('icon-minus')) {
            icon.removeClass('icon-minus');
            icon.addClass('icon-plus');
        }
    });
}

function set_active_tab_click (tab, tab1, tab2) {
    tab.click(function(){
        tab1.removeClass("active");
        tab2.removeClass("active");
        tab.addClass("active");
    });
}

$(document).ready(function() {
   //console.log("doc ready in list called");

   // Set up full page first.
   // The tabs
   var edit = $('#edit_mode');
   var full = $('#full_mode');
   var preview = $('#preview_mode');
   edit.find('a').click(ajax_link_click);
   preview.find('a').click(ajax_link_click);
   full.find('a').click(ajax_link_click);
   set_active_tab_click(edit,preview,full); 
   set_active_tab_click(full,edit,preview); 
   set_active_tab_click(preview,edit,full); 
});
</script>
{{block.super}}
{% endblock mainjs %}

{% block tabs%}
<div class="span6">
    <ul class="nav nav-pills">
          <li id="edit_mode" class="active"><a class="ajax_link" href="{% url ajax_list id=list.id mode="edit" %}">Edit</a></li>
          <li id="preview_mode" ><a class="ajax_link" href="{% url ajax_list id=list.id mode="preview" %}">Preview Questions</a></li>
          <li id="full_mode"><a class="ajax_link" href="{% url ajax_list id=list.id mode="full" %}">Preview Full</a></li>
    </ul>
</div>
{% endblock tabs%}

{% block menus%}
<div class="span6">
      <div class="btn-group pull-right">
      <a title="Delete All Problems from This Problem Set" class="btn btn-mini btn-warning" href="{% url editor.views.delete_problems list.id %}">Delete Problems</a>
      <a title="Change Settings for This Problem Set" class="btn btn-mini" href="{% url editor.views.change_list_settings list.id %}">Settings</a>
    </div>
</div>
{% endblock menus%}

{% block title %}
<div class="span6">
    <h2>{{ list.name }}</h2>
</div>
{% endblock title %}

{% block actionarea %}
<div class="span6">
      <div class="pull-right">
        <a title="Add Problems to {{list.name}} ..." class="btn btn-primary btn-large" href="{% url templates_id id=list.id %}">Add Problems... </a>
        <a title="Generate this Problem Set" class="btn btn-large btn-success" href="{% url editor.views.view_list list.id %}">
          {% icon "icon-share" %} Generate</a>
      </div>
</div>
{% endblock actionarea %}

{% block pagecontent %}
<!-- first time it is included directly, thereafter it is loaded by ajax-->
{% include "ajax_list.html" %}
{% endblock pagecontent %}
