{% extends "main.html" %}

{% block mainjs %}
<script type="text/javascript"> 
function setup_pagecontent(){
    setup_pagecontent_ajax_links();
}
</script>
{{block.super}}
{% endblock mainjs %}

{%block problem_sets_active %}
class="active"
{%endblock%}

{% block title %}
<div class="span6">
<h2> Problem Sets </h2>
</div>
{% endblock title %}

{% block actionarea %}
<div class="span6">
    <div class="pull-right">
    <a class="btn btn-large btn-primary" href="{% url editor.views.new_list %}">Create New Problem Set...</a>
    </div>
</div>
{% endblock actionarea %}

{% block pagecontent %}
<!-- first time it is included directly, thereafter it is loaded by ajax-->
{% include "ajax_lists.html" %}
{% endblock pagecontent %}
