{% block mainjs %}
<script type="text/javascript"> 
function ajax_link_click(event){
    //console.log("ajax link click.");
    event.preventDefault();
    var url = $(this).attr('href');
    $('#pagecontent').load(url, setup_pagecontent); 
}

function setup_pagecontent_ajax_links() {
  $('#pagecontent .ajax_link').click(ajax_link_click);
}

$(document).ready(function() {
    //console.log("doc ready in lists called");

   <!-- inheriting templates define this -->
    setup_pagecontent();
});
</script>
{{block.super}}
{% endblock mainjs %}

<div class=container-fluid>

    <div id="pagenav">
        {% block pagenav%}
        <div class=row-fluid>

            <div id="tabs"> 
                {% block tabs%}
                {% comment %}
                <div class="span6"> 
                  <ul class="nav nav-pills">
                    <li><a class="active" href="">Mode 1</a></li>
                    <li><a href="">Mode 2</a></li>
                  </ul>
                </div>
                {% endcomment %}
                {% endblock tabs%}
            </div>

            <div id="menus">
                {% block menus%}
                {% comment %}
                <div class="span6">
                  <div class="btn-group pull-right">
                    <a title="Menu 1" class="btn btn-small" href="">Menu 1</a>
                    <a title="Menu 2" class="btn btn-small" href="">Menu 2</a>
                  </div>
                </div>
                {% endcomment %}
                {% endblock menus%}
            </div>

        </div> <! -- row-fluid -->
        {% endblock pagenav%}
    </div> <!--pagenav -->

    <div id="page">
        {%block page %}

          <div id="pageheader">
              {% block pageheader %}
              <div class="row-fluid">

                  <div id="title">
                      {% block title %}
                      {% comment %}
                      <div class="span6">
                      </div>
                      {% endcomment %}
                      {% endblock title %}
                  </div>

                  <div id="actionarea">
                      {% block actionarea %}
                      {% comment %}
                      <div class="span6">
                         <div class="pull-right">
                           <a title="Action 1" class="btn btn-primary btn-large" href="">Action 1</a>
                           <a title="Action 2" class="btn btn-large" href="">Another Action 1</a>
                         </div>
                      </div>
                      {% endcomment %}
                      {% endblock actionarea %}
                  </div>

              </div> <!--row-fluid-->
              {% endblock pageheader %}
          </div> <!-- pageheader -->

          <div id="pageform">
              {% block pageform %}
                {% comment %}
                <div class="row-fluid">
                    <div class="span12">
                        
                    </div>
                </div>
                {% endcomment %}
              {% endblock pageform %}
         </div>

          <div id="pagecontent">
              {% block pagecontent %}
              {% endblock pagecontent %}
          </div>

        {% endblock page%}
    </div> <!-- page -->

</div> <!-- container-fluid -->
