{% extends "base.html" %}

{% block content %}
<div id="content">
<iframe id="forum_embed"
  src="javascript:void(0)"
  scrolling="no"
  frameborder="0"
  width="100%"
  height="900">
</iframe>
<script type="text/javascript">
 document.getElementById("forum_embed").src = 
  "https://groups.google.com/forum/embed/?place=forum/mathplosion-dev" +
//  "&hideforumtitle=true" +
  "&showpopout=false" +  
  "&showsearch=true" +  
  "&amp;parenturl=" +  encodeURIComponent(window.location.href); 
</script>
</div>
{% endblock %}
