{% extends "main.html" %}

{% block title %}
<div class="span12">
  <h2> Create a New Problem Set </h2>
</div>
{% endblock title %}          

{% block pageform%}
  <form method="post" action="{% url editor.views.create_list %}">
  {% csrf_token %}
<p> Name: {{listform.name}} </p>
<p> Tags: {{listform.tags}} </p>
  <input class="create" type="submit" value="Create Problem Set">
  </form>
</div>
{% endblock pageform%}
