{% load editor_extras %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{name}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

{% if theme == "yes" %}
  <link href="{% bootstrap_css_path %}" rel="stylesheet">
{% endif %}

<link href="/media/mathplosion.css" rel="stylesheet">

<style>
body {
    padding-top: 0px;
    padding-bottom: 0px;
}
.blackwhite {
    color: black;
    background-color: white;
    padding: 10px;
}
</style>

</head>
<body>
<div class="blackwhite">
    <h1> {{name}} </h1>
    {% include "qanda.html" %}
</div>
</body>
</html>
