{% extends "problem_main.html" %}

{% block mainjs %}
{{block.super}}
{% include "problem_params.html" %}
{% endblock mainjs %}

{% block pageheader %}
 <div class="row-fluid">
     <div id="span12">
       {% block title %}
          {{block.super}}
       {% endblock title %}
     </div>
 </div>
{% endblock pageheader %}

{% block pageform %}
<form id="form" class="well form-inline">
    <div class="row-fluid">
        <div id="span12">
            <div id="formparams">
             <!-- params will be put in via jquery by mathplosion.js -->
            </div>
        </div> 
    </div> 
</form>
{% endblock pageform %}

{% block pagecontent %}
{% include "problem.html" %}
{% endblock pagecontent%}
