{% block problemparams %}
{% if problem.params %}
<script type="text/javascript" src="/media/mathplosion.js"></script>
<script type="text/javascript"> 
var json_params={{problem.params|safe}};
</script>
{{problem.javascript|safe}}
{% endif %}
{% endblock problemparams %}
