{% block problem %}

{% block question %}
<h3>Question</h3>
  <div id="question" class="blackwhite"> 
        {{problem.question|safe}}
  </div>
{% endblock question %}

{% block answer %}
<h3>Answer</h3>
    <div id="answer" class="blackwhite"> 
        {{problem.answer|safe}}
    </div>
{% endblock answer %}

{% endblock problem %}
