{% if style == "numbered" %}
<ol>
{% endif %}

{% for problem in problems %}

    {% if style == "numbered" %}
    <li> 
    {% endif %}

        {% if show == "questions" or show == "both" %}
        <div class="question">
            {{problem.question|safe}} 
        </div>
        {% endif %}

        {% if show == "both" %}
        <h3>Answer</h3>
        {% endif %}

        {% if show == "answers" or show == "both" %}
        <div class="answer">
            {{problem.answer|safe}} 
        </div>
        {% endif %}

        {% if style == "unnumbered" %}
        <hr>
        {% endif %}

    {% if style == "numbered" %}
    </li>
    {% endif %}

{% endfor %}

{% if style == "numbered" %}
</ol>
{% endif %}
