<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head profile="http://selenium-ide.openqa.org/profiles/test-case">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="selenium.base" href="http://mathplosion.com/" />
<title>Saving Templates</title>
</head>
<body>
<table cellpadding="1" cellspacing="1" border="1">
<thead>
<tr><td rowspan="1" colspan="3">Saving Templates</td></tr>
</thead><tbody>

{% for template in templates %}
<tr>
	<td>clickAndWait</td>
	<td>//li[{{forloop.counter}}]/div/div/a[2]/img</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=Test</td>
	<td></td>
</tr>
<tr>
	<td>clickAndWait</td>
	<td>name=Save</td>
	<td></td>
</tr>
{% endfor %}

</tbody></table>
</body>
</html>
