{% extends "main.html" %}
{% load editor_extras %}

{% block mainjs %}
<script type="text/javascript"> 
function setup_pagecontent() {
    setup_pagecontent_ajax_links();
}

$(document).ready(function() {

    $("input").keypress(function (e) {
        var k = e.keyCode || e.which;
        if (k == 13) {
            update();
            return false; 
        }
    });

    $('a[href="#preview"]').on('show', function (e) {
        var url = "{% url editor.views.output list.id %}";  
        var args = $("#outputform").serialize();
        var iframe = $("#previewframe");
        iframe.height(0);
        iframe.load(function(){
            var iframe_content = iframe.contents().find('body');
            iframe.height(iframe_content.outerHeight(true));
            //iframe.css({ height: iframe_content.outerHeight( true ) });
        });
        iframe.attr("src",url + "?" + args);
    })

});
</script>
{{block.super}}
{% endblock mainjs %}

{% block menus%}
<div class="span12">
      <div class="btn-group pull-right">
        <a title="Back to Editing" class="btn btn-mini" href="{% url editor.views.list list.id %}">Back to Editing</a>
    </div>
</div>
{% endblock menus%}

{% block pageheader %}
<h2>Generate Problem Set</h2>
{% endblock pageheader %}

{% block pagecontent %}
            <ul id="myTab" class="nav nav-pills">
              <li class="active"><a href="#options" data-toggle="tab">Output Options</a></li>
              <li><a href="#preview" data-toggle="tab">Preview of Output</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
              <div class="tab-pane fade in active" id="options">
                <form id="outputform" class="well form-horizontal"  method="get" action="{% url editor.views.output list.id %}">

                 <fieldset>
                    <div class="control-group">
                        <label class="control-label" for="id_name">Title (Optional):</label>
                        <div class="controls">
                            <input type="text" name="name" id="id_name" value="{{list.name}}"/>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Style</label>
                        <div class="controls">
                          <label class="radio inline">
                            <input type="radio" name="theme" value="no" checked> 
                            No Theme 
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="theme" value="yes"> 
                            Use Theme 
                          </label>
                        </div>
                      </div>
                    <div class="control-group">
                        <label class="control-label">Numbering</label>
                        <div class="controls">
                          <label class="radio inline">
                            <input type="radio" name="style" value="numbered" checked> 
                            Show Numbers 
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="style" value="unnumbered"> 
                            No Numbers 
                          </label>
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label">What To Show</label>
                        <div class="controls">
                          <label class="radio inline">
                            <input type="radio" name="show" id="radio1" value="questions" checked>
                            Questions 
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="show" id="radio2" value="answers">
                            Answers 
                          </label>
                          <label class="radio inline">
                            <input type="radio" name="show" id="radio3" value="both">
                            Both 
                          </label>
                        </div>
                     </div>
                    <div class="form-actions">
                      <button type="submit" class="btn btn-primary btn-large btn-success">{% icon "icon-share" %} Generate This Problem Set</button>
                    </div>
                 </fieldset>
                </form> 
              </div>
              <div class="tab-pane fade" id="preview">
                  <div id="iframecontainer">
                    <iframe id="previewframe" width="100%" height="200" frameborder="0" scrolling="no"> </iframe> 
                  </div>
              </div>
            </div>


{% endblock pagecontent %}
