{% extends "base.html" %}

{% block content %}
<div id="content">
  <div style="margin:20px" class="video">
    <iframe width="852" height="480" src="http://www.youtube.com/embed/qzCMF_newNg" frameborder="0" allowfullscreen></iframe>
  </div>
</div>
{% endblock %}
