{% extends "main.html" %}

{% block mainjs %}
<script type="text/javascript"> 

//This is called in editor_page.html
function setup_pagecontent() {
    setup_pagecontent_ajax_links();
    setup_answer_triggers();
    setup_addit_buttons();
}

function setup_answer_triggers() {
    $('.trigger').click(function(){

        var trigger_id = $(this).attr('id');
        var target_id = trigger_id.replace("trigger","target");
        $('#' + target_id).toggle();

        var icon = $(this).find('i')
        if (icon.hasClass('icon-plus')) {
            icon.removeClass('icon-plus');
            icon.addClass('icon-minus');
        }
        else if (icon.hasClass('icon-minus')) {
            icon.removeClass('icon-minus');
            icon.addClass('icon-plus');
        }
    });
}

function setup_addit_buttons(){
  $('.addit').click(function(event){
        var b = $(this);
        if(b.hasClass("btn-primary")) {
           b.removeClass("btn-primary"); 
           b.addClass("btn-success"); 
        }
        else if (b.hasClass("btn-success")) {
           b.removeClass("btn-success"); 
           b.addClass("btn-primary"); 
        }
    });
}

function set_active_tab_click (tab, tab1, tab2) {
    tab.click(function(){
        tab1.removeClass("active");
        tab2.removeClass("active");
        tab.addClass("active");
    });
}

$(document).ready(function() {
  //console.log("doc ready in list called");

   // Set up full page
   // The tabs
   var mathplosion = $('#math');
   var user = $('#user');
   var other = $('#other');

   mathplosion.find('a').click(ajax_link_click);
   user.find('a').click(ajax_link_click);
   other.find('a').click(ajax_link_click);

   set_active_tab_click(mathplosion,user,other); 
   set_active_tab_click(user,mathplosion,other); 
   set_active_tab_click(other,mathplosion,user); 

   // The Add problems form
    $('#addform').submit(function() {
       var addform = $(this);
       $('.addit.btn-success').each(function(){
                $('<input>').attr({
                    type: 'hidden',
                    name: $(this).attr('name'),
                    value: $(this).attr('value')
                }).appendTo(addform); 
        });
    });
});
</script>
{{block.super}}
{% endblock mainjs %}

{% block tabs%}
<div class="span6"> 
    <ul class="nav nav-pills">
        <li id="math" {% if request.session.templates_mode == "mathplosion" %} class="active" {% endif %} ><a class="ajax_link"
        {% if listid %} 
        href="{% url ajax_templates_list_mode mode="mathplosion" listid=listid %}" 
        {% else %} 
        href="{% url editor.views.ajax_templates mode="mathplosion" %}" 
        {% endif %}
        >Mathplosion</a></li>


        <li id="user" {% if request.session.templates_mode == "user" %} class="active" {% endif %} ><a class="ajax_link"
        {% if listid %} 
        href="{% url ajax_templates_list_mode mode="user" listid=listid %}" 
        {% else %} 
        href="{% url editor.views.ajax_templates mode="user" %}" 
        {% endif %}
        >Mine</a></li>
    
        {% if request.user.is_superuser %}
        <li id="other" {% if request.session.templates_mode == "other" %} class="active" {% endif %} ><a class="ajax_link"
        {% if listid %} 
        href="{% url ajax_templates_list_mode mode="other" listid=listid %}" 
        {% else %} 
        href="{% url editor.views.ajax_templates mode="other"%}" 
        {% endif %}
        >Other</a></li>
        {% endif %}
    </ul>
</div>
{% endblock tabs%}

{%block templates_active %}
class="active"
{%endblock%}

{% block title %}
<div class="span6">
    {% if listname %}
      <h2> Select Problems for: {{listname}} </h2>
    {% else %}
      <h2> Templates </h2>
    {% endif %}
</div>
{% endblock title %}

{% block actionarea %}
{% if listname %}
<div class="span6">
    <div class="pull-right">
    <form id="addform" method="post" action="{% url editor.views.create_problems %}" >
      {% csrf_token %}
          <button title="Add Problems to Problem Set: {{listname}}" class="btn btn-primary btn-large" type="submit"> Okay, Add Them!</button>
          <a title="Cancel and Return to Problem Set: {{listname}}" class="btn btn-large" href="{% url editor.views.list id=list.id %}">Cancel</a>
          <input type="hidden" name="listid" value="{{list.id}}"/>
    </form>
    </div>
</div>
{% else %}
{% if user.is_superuser %}
<div class="span6">
    <div class="pull-right">
    <a title="Make New Template" class="btn btn-primary btn-large" href="{% url editor.views.new_template %}">Create New Template...</a>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock actionarea %}

{% block pagecontent %}
<!-- first time it is included directly, thereafter it is loaded by ajax-->
{% include "ajax_templates.html"%}
{% endblock pagecontent %}
