<ul id="myTab" class="nav nav-tabs">
  <li class="active"><a href="#statistics" data-toggle="tab">Statistics</a></li>
  <li><a href="#algebra" data-toggle="tab">Algebra</a></li>
  <li><a href="#geometry" data-toggle="tab">Geometry</a></li>
  <li><a href="#basic" data-toggle="tab">Basic</a></li>
  <li><a href="#demo" data-toggle="tab">Demo</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div class="tab-pane fade in active" id="statistics">
{% include "ajax_templates.html" with templates=statistics_templates%}
  </div>
  <div class="tab-pane fade" id="algebra">
{% include "ajax_templates.html" with templates=algebra_templates%}
  </div>
  <div class="tab-pane fade" id="geometry">
{% include "ajax_templates.html" with templates=geometry_templates%}
  </div>
  <div class="tab-pane fade" id="basic">
{% include "ajax_templates.html" with templates=basic_templates%}
  </div>
  <div class="tab-pane fade" id="demo">
{% include "ajax_templates.html" with templates=demo_templates%}
  </div>
</div>
