<div class="navbar navbar-fixed-top">
      <div class="navbar-inner"> 
        <div class="container-fluid"> 
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
            <span class="icon-bar"></span> 
          </a>

          <a class="brand" href="{% url views.landing %}">Mathplosion</a>

{% if user.is_authenticated %}
          <div class="btn-group pull-right">
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="icon-user"></i> 
              {{user.username}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
{% comment %}
                <li><a href="#">Help Profile</a></li>
                <li><a href="#">Edit Profile</a></li>
                <li class="divider"></li>
{% endcomment %}
                 <li>
                     <a href="{% url views.logout_view%}">
                        <i class="icon-signout"></i>
                        Sign Out
                     </a>
                 </li>
          </ul>
          </div>
{% endif %}
			
          <ul class="nav pull-right">
            <li class="dropdown">
            <a href=# class="dropdown-toggle"  title="Choose a Theme" data-toggle="dropdown">
               Theme
               <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
            <li><a href="{% url theme "bootstrap" %}">Bootstrap</a></li>
            <li><a href="{% url theme "amelia" %}">Amelia</a></li>
            <li><a href="{% url theme "spruce" %}">Spruce</a></li>
            <li><a href="{% url theme "cerulean" %}">Cerulean</a></li>
            <li><a href="{% url theme "cyborg" %}">Cyborg</a></li>
            <li><a href="{% url theme "journal" %}">Journal</a></li>
            <li><a href="{% url theme "readable" %}">Readable</a></li>
            <li><a href="{% url theme "simplex" %}">Simplex</a></li>
            <li><a href="{% url theme "slate" %}">Slate</a></li>
            <li><a href="{% url theme "spacelab" %}">Spacelab</a></li>
            <li><a href="{% url theme "superhero" %}">Superhero</a></li>
            <li><a href="{% url theme "united" %}">United</a></li>
            </ul>
            </li>
          </ul>

          <div class="nav-collapse">
          <ul class="nav">
            <li {%block problem_sets_active%}{%endblock%}>
                <a href="{% url lists %}">Problem Sets</a>
            </li>
            <li {%block templates_active%}{%endblock%} >
                <a href="{% url templates %}">Templates</a>
           </li>
{% comment %}
            <li {%block tags_active%}{%endblock%} >
                <a href="{% url tags %}">Tags</a>
            </li>
{% endcomment %}
          </ul>
          </div>
        </div> 
      </div> 
    </div>

