{% extends "base.html" %}
{% block content %}
<div class="hero-unit">
<h2> Mathplosion Terms of Service </h2>
<p>Mathplosion is a beta web application that is currently in early testing stage. The website, software and all content are provided "as is" with no implied guarantee of the usability or availability of it.</p> 

<p>Mathplosion will not be liable for any loss, direct or indirect that results from use of this website, software or content. The user of the website will be solely responsible for any damage that is incurred or any loss of data that happens as a result of using the website.</p>

<p>Please do not store generated content at this site without appropriate backup or off-site replication. We cannot guarantee such content will continue to be available to you after you create it during the beta period.</p>

<p>If you have questions or are looking for help please visit the
<a href="{% url views.users %}">Mathplosion Users Forum </a></p>

<p>If you find bugs or issues please report them at  
<a href="http://bitbucket.org/calvinw/mathplosion/issues">Report a Bug</a></p>

<p>You are encouraged to help improve the software and we will do our best fix and resolve all issues.</p>
</div>
{% endblock %}
